@import "normalize";
@import "settings";
@import "foundation";

*:focus { outline: 0; } /* Remove webkit's default outline */
.nomarginbottom { margin-bottom: 0 !important; }


/* BUTTONS ----------- */
a.glow.button, button.glow, input[type="submit"].glow {
  -webkit-animation-name: glowpulse;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  &:hover { -webkit-animation: none; }
}

.button:active, table tr:nth-child(odd) a.button:active { 
	background: darken($primary-color, 20%); 
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
 }

.button.fa:before {
	font-family: FontAwesome;
}

.button.square, button.square { padding: 0.6em; margin: 0 0.1em;}
.button.postfix.fa:before, button.postfix.fa:before { 

	background: darken($primary-color, 10%); 
	position: absolute; 
	left: 0px; top: 0px;
	padding: 0.18em 1em;
	}

.button.postfix.fa, button.postfix.fa { padding-left: 2em; }

.button.topright { margin: 0.7em 0 0 0; }


@-webkit-keyframes glowpulse {
  from { background-color: $primary-color; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: darken($primary-color, 10%); -webkit-box-shadow: 0 0 18px $primary-color; }
  to { background-color: $primary-color; -webkit-box-shadow: 0 0 9px #333; }
}

/* TABLES ----------- */
table.contacts td { padding: 0.3em 0.8em; }
td.name { font-size: 110%; }
td.icon {
	padding: 0;
	a.button { margin-right: 0.6em; } 
}

table tr:nth-child(odd) a.button { 
	background: darken($primary-color, 5%);
	}

table.expand { width: 100%; text-overflow: ellipsis; }
.editrow td input.contact-name { max-width: 300px; }
.editrow td.edit-balance { padding-right: 0.7em; text-align: right; }
.editrow .button { margin: 0; padding-bottom: rem-calc(11); }
.editrow td input[type="text"] { margin: 0; }


/* Wallets dropdown ---------------------  */

li.colorhead, li.colorhead:hover { 
	text-align: center;
	padding: 0.6em 0;
	background: #444; 
	}

li.colorhead h6 { color: white; margin: 0; }

#wallets:before, #wallets:after { border-bottom-color: #444; }

#wallets li:not(.colorhead) { 
	background: $primary-color;
	&:hover { background: lighten($primary-color, 10%); }
}

#wallets li a { color: white; }

#wallets { 
	border: 2px solid #444;
	border-radius: 4px;
	 }

.address-postfix { margin-top: 2.1em; }

.panel .side-nav { padding-top: 0; }

.side-nav a.button { color: white; margin-bottom: 0.6em; }

.tabs { border-bottom: 1px solid scale-color($primary-color, $lightness: -46%); }

.tabs dd > a { 
	font-size: 90%;
	padding: 0.5em 1.1em;
	background: darken($primary-color, 10%); 
	color: white;
	&:hover { background: $primary-color; }
}

.tabs dd.active > a { background: lighten($primary-color, 10%); color: black; }

.top-bar a { @include single-transition(); }

.popupcontainer .panel { 
	background: #333; 
	a { color: white; }
}
.popupcontainer { min-width: 350px; padding-top: 0.6em; }

span.meter { padding: 5px 0 0 5px; }

.seed { font-size: 120%; }

.contact-mosaic .panel:hover, .popupcontainer .panel:hover { background: $primary-color; cursor: pointer; }

.select-list { min-height: 100px; background-image: none; }
.select-list option { padding: 1em; }

.showqr { max-height: 500px; margin-bottom: 4em; }
.showqr svg { height: auto; }