@import "normalize";
@import "settings";
@import "foundation";
@import "toaster";
@import "animation";

html, body:not(.popupbody) { height: 100%; overflow-y: hidden; }
html.popup { width: auto; height: auto; max-height: 100%; overflow: hidden; }

*:focus { outline: 0; } /* Remove webkit's default outline */

*.fa:before {
	font-family: FontAwesome;
}

div.modal-ng { 
	z-index: 20; 
	position: absolute; 
	width: 100%; 
	height: 100%; 
	background: rgba(0,0,0,0.7);
}

div.modal-ng.ng-animate.ng-hide-remove { -webkit-transform: translate3d(0,100%,0); opacity: 0.8; }
div.modal-ng.ng-animate.ng-hide-remove-active { -webkit-transform: translate3d(0,0,0); }

div.modal-ng:not(.ng-hide) + div.container { -webkit-transform: scale(0.8); }
div.modal-ng.ng-cloak + div.container, div.modal-ng.ng-hide + div.container { -webkit-transform: scale(1); }

.nomarginbottom { margin-bottom: 0 !important; }

.topmargin { margin-top: 1.6em !important; }


span.tooltip.fade { opacity: 0; }
span.tooltip.fade.in { opacity: 1; }


.popupcontainer .panel { 
	background: #333; 
	a { color: white; }
}
.popupcontainer { 
	height: auto;
	max-height: 100%;
	min-width: 250px;
	padding-top: 0.6em;
	overflow: hidden;
}

div.container { 
	padding-top: 45px; height: 100%;
}

div.cardflipper { 
	margin-top: 2em;
	-webkit-perspective: 800px;
}

div.tab-scroller { padding-top: 1em; }

div.scroller { 
	background: black;
	height: 100%;
	width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
}

span.input-status { 
	position: absolute;
	opacity: 0;
	right: 5px;
	margin-top: -2.7em;
	z-index: 2;
	&:before { color: $primary-color; }
	&:not(:last-child) { right: 100px; }
 }

input.ng-valid + span.input-status { opacity: 1; }

input.address-buttons { padding-right: 5.3em; }

input[type="text"].postfix.radius, input[type="number"].postfix.radius {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

input[type="text"].prefix.radius, input[type="number"].prefix.radius {
	line-height: normal;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

input[type="range"] {
    -webkit-appearance: none;
    background-color: silver;
    width: 200px;
    height:5px;
    border-radius: 4px;
}

input[type="range"]::-webkit-slider-thumb {
    border-radius: 10px;
    -webkit-appearance: none;
    background-color: $primary-color;
    width: 16px;
    height: 16px;
}

/* BUTTONS ----------- */

.progbar {
	opacity: 0;
	border-radius: $global-radius;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 1%;
	background: darken($primary-color, 20%);
}

a.glow.button, button.glow, input[type="submit"].glow {
  -webkit-animation-name: glowpulse;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  &:hover, &.working { -webkit-animation: none; }
  span, .progbar { @include single-transition(); }
  &.working .progbar { opacity: 1; }
  &.working span { opacity: 0; }
}

button:active .button:active, table tr:nth-child(odd) a.button:active { 
	background: darken($primary-color, 20%);
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
 }

.button.square { margin: 0; padding: 0; height: 37px; }

.button.square:before, button.square:before { position: absolute; top: 50%; left: 50%; margin: -1.2em 0 0 -0.4em; }

.button.square.righted {
	z-index: 3; 
	position: absolute;
	right: 0;
	top: 0;
	width: 37px;
	&:first-of-type:not(:last-of-type) { right: 37px; }
	&:last-of-type { border-radius: 0 $global-radius $global-radius 0; }
	&:before { margin-top: -0.5em; }
}

.editable-wrap { width: 100%; }

button.righted ~ form.editable-wrap input { padding-right: 37px; }

.button.square.lefted {
	z-index: 3; 
	float: left;
	&:first-of-type { border-radius: $global-radius 0 0 $global-radius; }
	&:before { position: absolute; top: 50%; left: 50%; margin: -8px 0 0 -7px; }
}

.button.postfix.fa:not(.single):before, button.postfix.fa:not(.single):before { 

	background: darken($primary-color, 10%); 
	position: absolute; 
	left: 0px; top: 0px;
	width: 37px;
	height: 37px;
	}

.button.postfix.fa.single, .button.prefix.fa.single { margin: 0; }

.button.postfix.fa.alert:before, button.postfix.fa.alert:before { background: darken($alert-color, 10%); }

.button.postfix.fa:not(.single), button.postfix.fa:not(.single) { padding-left: 2em; }

.button.topright { margin: 0.7em 0 0 0; }

div.address-row button.tiny { margin: 0;}

@-webkit-keyframes glowpulse {
  from { background-color: $primary-color; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: darken($primary-color, 10%); -webkit-box-shadow: 0 0 18px $primary-color; }
  to { background-color: $primary-color; -webkit-box-shadow: 0 0 9px #333; }
}

/* TABLES ----------- */
table.contacts td { padding: 0.3em 0.8em; }
td.name { font-size: 110%; }
td.icon {
	padding: 0;
	a.button, button.button { margin-right: 0.6em; opacity: 0; }
	a.button:last-child, button.button:last-child { margin-right: 0; }
}

tr:hover td.icon button.button { opacity: 1; }

table tr:nth-child(odd) button { 
	background: darken($primary-color, 5%);
	}

table.expand { width: 100%; text-overflow: ellipsis; }

span.ellipsis, div.ellipsis { 
	text-align: left; 
	overflow: hidden; 
	text-overflow: ellipsis;
	white-space: nowrap;
 }

div.address-row { padding: 0; }

div.address-row button { opacity: 0; }

div.address-row:hover button { opacity: 1; }

.transactions div.row {
	padding: 0.5em;
}


.transactions div.row:nth-child(odd) { 
	background: darken($body-bg, 5%);
	border-radius: $global-radius;
}

/* Wallets dropdown ---------------------  */

li.colorhead, li.colorhead:hover { 
	text-align: center;
	padding: 0.6em 0;
	background: #444; 
	}

li.colorhead h6 { color: white; margin: 0; }

#wallets:before, #wallets:after { border-bottom-color: #444; }

#wallets li:not(.colorhead) { 
	background: $primary-color;
	&:hover { background: lighten($primary-color, 10%); }
}

#wallets li a { color: white; }

#wallets { 
	border: 2px solid #444;
	border-radius: 4px;
	 }


	 /* ----------------------- */


.address-postfix { margin-top: 2.1em; }

.panel .side-nav { padding-top: 0; }

.side-nav a.button, .ellipsis.contact-address { color: white; margin-bottom: 0.6em; }

.tabs { border-bottom: 1px solid scale-color($primary-color, $lightness: -46%); }

.tabs dd > a { 
	font-size: 90%;
	padding: 0.5em 1.1em;
	background: darken($primary-color, 10%); 
	color: white;
	&:hover { background: $primary-color; }
}

.tabs dd.active > a { background: lighten($primary-color, 10%); color: black; }

.labels { position: absolute; top: 50%; margin-top: -11px; right: 0; z-index: 3; }

.top-bar { position: absolute; width: 100%; z-index: 3; }


span.meter { padding: 5px 0 0 5px; }

textarea.seed { 
	font-size: 125%;  
	text-align: center;
	padding: 4em 0;
	min-height: 10em;
	color: white;
	resize: none;
 }

textarea.script {
	min-height: 9em;
	resize: none;
}

.transaction-icon.green { color: $primary-color; }
.transaction-icon.red { color: $alert-color; }

.pocket-square { min-height: 120px; }

.contact-mosaic .panel:hover, div.notifications .panel:hover, .pocket-square:hover { background: $primary-color; cursor: pointer; }

.contact-mosaic { max-height: 500px; overflow-y: scroll; overflow-x: hidden; }

.contact-mosaic-full { overflow: hidden; }

.contact-mosaic-square { 
	text-align: center; 
	border-radius: $global-radius; 
	background: rgba(40,40,40,0.8); 
	img { padding: 1em; -webkit-transform: scale(1) translateY(0); }
}

.contact-label { -webkit-transform: translateY(0); border-radius: $global-radius; background: rgba(60,60,60,0.8); width: 100%; padding: 0.3em 0; }

span.contact-name { font-size: 200%; vertical-align: middle; }

.row.collapse.contact-menu { opacity: 0; margin: -2.3em 0 0 0; }

.contact-mosaic-square:hover {
	cursor: pointer;
	background: $primary-color;
	.contact-menu { opacity: 1; }
	.contact-label { background: transparent; }
	img { -webkit-transform: scale(1.6) translateY(0.4em); }
}

.contact-menu button { margin: 0; }

.select-list { min-height: 100px; background-image: none; }

.showqr > div { text-align: center; }

.showqr > div img { max-width: 86%; margin-bottom: 1em; }

.qractions { position: absolute; top: 0; right: 0; }
.qractions a.button { position: absolute; top: 0; right: 0; width: 36px; padding: 8px 0; }
.qractions a:last-child { top: 40px; }

.modal-show-qr { background: white; top: 10px; overflow: hidden; padding: 0; }
.qr-address { word-wrap: break-word; color: black; margin-right: 3em; }

#logo { margin: -2px 5px 0 -5px; }

div.pockets { z-index: 2; }

div.wallet-view {  }



div.chat-text {
	word-wrap: break-word;
}

/* ----------- Backgrounds ---------------- */

.setback.net { background: url(../images/net.svg) center/contain no-repeat; }

.setback.fiat { background: url(../images/fiat.svg) center/contain no-repeat; }

.setback.coins { background: url(../images/coins.svg) right/contain no-repeat; }


.setback.notifications { background: url(../images/notifications.svg) right/contain no-repeat; }

.lobbyback { 
	background: url(../images/virtual.svg) top/cover no-repeat;
	-webkit-box-shadow: inset -0 0px 130px black;	
 }

div.wizard { 
	background: $body-bg;
	border-radius: $global-radius;
	padding: 1.5em;
	-webkit-backface-visibility: hidden;
}

form.send { background: url(../images/send.svg) center/contain no-repeat; }

.setback > * { opacity: 0.8; }

.seed { background: url(../images/seed.svg) center/cover no-repeat; }



/* Scrollbars ---------------------  */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
  background: $body-bg;
}

::-webkit-scrollbar-thumb {
  border-radius: $global-radius;
  background: $primary-color;
}
