@import "normalize";
@import "settings";
@import "foundation";

html, body, div.container { height: 100%; }
*:focus { outline: 0; } /* Remove webkit's default outline */
.nomarginbottom { margin-bottom: 0 !important; }
.topmargin { margin-top: 1.6em !important; }
.tooltip { max-width: 400px; min-width: 170px; text-align: center; }

input[type="text"].ng-invalid:not(.ng-pristine) { background: red; }

input[type=range] {
    -webkit-appearance: none;
    background-color: silver;
    width: 200px;
    height:5px;
    border-radius: 4px;
}

input[type="range"]::-webkit-slider-thumb {
    border-radius: 10px;
    -webkit-appearance: none;
    background-color: $primary-color;
    width: 16px;
    height: 16px;
}

/* BUTTONS ----------- */

.progbar {
	opacity: 0;
	border-radius: $global-radius;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 1%;
	background: darken($primary-color, 20%);
}

a.glow.button, button.glow, input[type="submit"].glow {
  -webkit-animation-name: glowpulse;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  &:hover, &.working { -webkit-animation: none; }
  span, .progbar { @include single-transition(); }
  &.working .progbar { opacity: 1; }
  &.working span { opacity: 0; }
}

button:active .button:active, table tr:nth-child(odd) a.button:active { 
	background: darken($primary-color, 20%);
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
 }

.button.fa:before, button.fa:before {
	font-family: FontAwesome;
}

.button.square, button.square { width: 37px; height: 37px; padding: 0; margin: 0; }

.button.square.righted {
	z-index: 3; 
	position: absolute;
	right: 0;
	top: 0;
	&:first-of-type { right: 37px; }
	&:last-of-type { border-radius: 0 $global-radius $global-radius 0; }
	&:before { position: absolute; top: 50%; left: 50%; margin: -8px 0 0 -7px; }
}

.button.square.lefted {
	z-index: 3; 
	float: left;
	&:first-of-type { border-radius: $global-radius 0 0 $global-radius; }
	&:before { position: absolute; top: 50%; left: 50%; margin: -8px 0 0 -7px; }
}

.button.postfix.fa:before, button.postfix.fa:before { 

	background: darken($primary-color, 10%); 
	position: absolute; 
	left: 0px; top: 0px;
	padding: 0.18em 1em;
	}

.button.postfix.fa, button.postfix.fa { padding-left: 2em; }

.button.topright { margin: 0.7em 0 0 0; }


@-webkit-keyframes glowpulse {
  from { background-color: $primary-color; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: darken($primary-color, 10%); -webkit-box-shadow: 0 0 18px $primary-color; }
  to { background-color: $primary-color; -webkit-box-shadow: 0 0 9px #333; }
}

/* TABLES ----------- */
table.contacts td { padding: 0.3em 0.8em; }
td.name { font-size: 110%; }
td.icon {
	padding: 0;
	a.button, button.button { margin-right: 0.6em; opacity: 0; }
	a.button:last-child, button.button:last-child { margin-right: 0; }
}

tr:hover td.icon button.button { opacity: 1; }

table tr:nth-child(odd) button { 
	background: darken($primary-color, 5%);
	}

table.expand { width: 100%; text-overflow: ellipsis; }

/* Wallets dropdown ---------------------  */

li.colorhead, li.colorhead:hover { 
	text-align: center;
	padding: 0.6em 0;
	background: #444; 
	}

li.colorhead h6 { color: white; margin: 0; }

#wallets:before, #wallets:after { border-bottom-color: #444; }

#wallets li:not(.colorhead) { 
	background: $primary-color;
	&:hover { background: lighten($primary-color, 10%); }
}

#wallets li a { color: white; }

#wallets { 
	border: 2px solid #444;
	border-radius: 4px;
	 }

.address-postfix { margin-top: 2.1em; }

.panel .side-nav { padding-top: 0; }

.side-nav a.button { color: white; margin-bottom: 0.6em; }

.tabs { border-bottom: 1px solid scale-color($primary-color, $lightness: -46%); }

.tabs dd > a { 
	font-size: 90%;
	padding: 0.5em 1.1em;
	background: darken($primary-color, 10%); 
	color: white;
	&:hover { background: $primary-color; }
}

.tabs dd.active > a { background: lighten($primary-color, 10%); color: black; }

.contact-mosaic-square img, .contact-mosaic-square .contact-label, .contact-mosaic-square .contact-menu, .top-bar a, .tabs dd > a, button.button, a.button, button.square, div.ng-enter, div.ng-leave, div.scroller.ng-animate.ng-hide-remove, div.scroller.ng-animate.ng-hide-add { @include single-transition(); }

.top-bar { z-index: 3; position: absolute; width: 100%; }

.popupcontainer .panel { 
	background: #333; 
	a { color: white; }
}
.popupcontainer { min-width: 350px; padding-top: 0.6em; }

span.meter { padding: 5px 0 0 5px; }

.seed { font-size: 120%; }

.contact-mosaic .panel:hover, .popupcontainer .panel:hover { background: $primary-color; cursor: pointer; }

.contact-mosaic { max-height: 500px; overflow-y: scroll; overflow-x: hidden; }

.contact-mosaic-full { overflow: hidden; }

.contact-mosaic-square { 
	text-align: center; 
	border-radius: $global-radius; 
	background: rgba(40,40,40,0.8); 
	img { padding: 1em; -webkit-transform: scale(1) translateY(0); }
}

.contact-label { -webkit-transform: translateY(0); border-radius: $global-radius; background: rgba(60,60,60,0.8); width: 100%; padding: 0.3em 0; }

.row.collapse.contact-menu { opacity: 0; margin: -2.3em 0 0 0; }

.contact-mosaic-square:hover {
	.contact-menu { opacity: 1; }
	.contact-label { -webkit-transform: translateY(-2.3em); background: transparent; }
	img { -webkit-transform: scale(0.8) translateY(-1em); }
}

.contact-menu button { margin: 0; }

.select-list { min-height: 100px; background-image: none; }

.showqr > svg { margin: 1em 0; }
.showqr { margin-bottom: 1em; }

.qractions { position: absolute; top: 0; right: 0; }
.qractions a.button { position: absolute; top: 0; right: 0; width: 36px; padding: 8px 0; }
.qractions a:last-child { top: 40px; }

.modal-show-qr { background: white; top: 0; overflow: hidden; padding: 0; }
.modal-show-qr h3, .modal-show-qr h6 { color: black; }

#logo { margin: -2px 5px 0 -5px; }

.ng-hide-add.ng-hide-add-active,
.ng-animate.ng-hide-remove {
  opacity:0;
}
 
.ng-hide-add,
.ng-animate.ng-hide-remove.ng-hide-remove-active {
  opacity:1;
}

div.scroller.ng-enter {
	-webkit-animation: moveFromTopFade .7s ease both;
	-moz-animation: moveFromTopFade .7s ease both;
	animation: moveFromTopFade .7s ease both;
}



div.scroller { 
	background: black;
	height: 100%;
	width: 100%;
	padding-top: 3em;
	position: absolute;
	overflow-y: scroll;
}
 
div.scroller.ng-enter.ng-enter-active {
 /* The animation code itself */

}

div.scroller.ng-leave {
	position: absolute;
 	width: 100%;
	-webkit-animation: scaleDown .7s ease both;
	-moz-animation: scaleDown .7s ease both;
	animation: scaleDown .7s ease both;
}

div.scroller.ng-leave.ng-leave-active {

}

div.chat-text {
	word-wrap: break-word;
}


.setback.net { background: url(../images/net.svg) center/contain no-repeat; }

.setback.fiat { background: url(../images/fiat.svg) center/contain no-repeat; }

.setback.coins { background: url(../images/coins.svg) right/contain no-repeat; }


.setback.notifications { background: url(../images/notifications.svg) right/contain no-repeat; }

.lobbyback { 
	background: url(../images/virtual.svg) top/cover no-repeat;
	background-attachment: fixed;
 }

.setback > * { opacity: 0.8; }

.setback.seed { background: url(../images/seed.svg) center/cover no-repeat; }
.pt-page-rotateCarouselRightIn {

}

@-webkit-keyframes rotateFoldBottom {
	to { opacity: 0; -webkit-transform: translateY(100%) rotateX(-90deg); }
}
@-moz-keyframes rotateFoldBottom {
	to { opacity: 0; -moz-transform: translateY(100%) rotateX(-90deg); }
}
@keyframes rotateFoldBottom {
	to { opacity: 0; transform: translateY(100%) rotateX(-90deg); }
}

@-webkit-keyframes moveFromTopFade {
	from { opacity: 0.3; -webkit-transform: translateY(-100%); }
}
@-moz-keyframes moveFromTopFade {
	from { opacity: 0.3; -moz-transform: translateY(-100%); }
}
@keyframes moveFromTopFade {
	from { opacity: 0.3; transform: translateY(-100%); }
}

@-webkit-keyframes rotatePushBottom {
	to { opacity: 0; -webkit-transform: rotateX(90deg); }
}
@-moz-keyframes rotatePushBottom {
	to { opacity: 0; -moz-transform: rotateX(90deg); }
}
@keyframes rotatePushBottom {
	to { opacity: 0; transform: rotateX(90deg); }
}

.pt-page-scaleDown {

}


@-webkit-keyframes scaleDown {
	to { opacity: 0; -webkit-transform: scale(.8); }
}
@-moz-keyframes scaleDown {
	to { opacity: 0; -moz-transform: scale(.8); }
}
@keyframes scaleDown {
	to { opacity: 0; transform: scale(.8); }
}

/* Scrollbars ---------------------  */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
  background: $body-bg;
}

::-webkit-scrollbar-thumb {
  border-radius: $global-radius;
  background: $primary-color;
}