<section class="blank" ng-controller="ContactsCtrl">
  <div class="container">
    <h2>Contacts</h2>
    <table class="">
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Total sent</th>
        <th>Actions</th>
      </tr>
      <tr ng-repeat="contact in identity.contacts.contacts">
        <td>{{contact.name}}</td>
        <td>{{contact.address}}</td>
        <td>{{contact.sent}}</td>
        <td><button class="button" ng-click="editContact(contact)">Edit</button>
          <button class="button" ng-click="deleteContact(contact)">Delete</button></td>
      </tr>
    </table>
    <button class="button button-submit" ng-click="startCreateContact()">Create Contact</button>
  </div>
  <div class="container" ng-show="subsection=='create' || subsection=='edit'">
    <h2 ng-show="subsection=='create'">Create contact</h2>
    <h2 ng-show="subsection=='edit'">Edit contact</h2>
    <form name="contactForm">
      <label>
        <h2>Name</h2>
        <input ng-model="newContact.name" required type="text" />
      </label>
      <label>
        <h2>Address</h2>
        <input ng-model="newContact.address" required type="text" />
      </label>
      <button ng-disabled="contactForm.$invalid" ng-show="subsection=='create'" class="button button-submit" ng-click="createContact()">Create</button>
      <button ng-disabled="contactForm.$invalid" ng-show="subsection=='edit'" class="button button-submit" ng-click="createContact()">Save</button>
      <button class="button" ng-click="subsection=''">Cancel</button>
    </form>
</section>
