<div ng-controller="AddressesCtrl">
  <div class="panel" ng-hide="pocket.isAll || pocket.isFund">
    <div class="row collapse">
        <div class="medium-2 columns">
            <span class="prefix radius">Stealth Address</span>
        </div>
        <div class="medium-6 columns">
            <input type="text" disabled="true" value="{{pocket.stealth}}" />
        </div>
        <div class="medium-2 columns">
            <button ng-click="clipboard.copy(pocket.stealth)" class="button postfix fa fa-clipboard">Copy</button>
        </div>
        <div class="medium-2 columns">
            <button ng-click="modals.showQr(pocket.stealth)" class="button postfix radius fa fa-qrcode">QR</button>
        </div>
    </div>
    <div class="row collapse">
        <div class="medium-2 columns">
            <span class="prefix radius">Master Address</span>
        </div>
        <div class="medium-6 columns">
            <input type="text" class="nomarginbottom" disabled="true" value="{{pocket.mpk}}" />
        </div>
        <div class="medium-2 columns">
            <button ng-click="clipboard.copy(pocket.mpk)" class="nomarginbottom button postfix fa fa-clipboard">Copy</button>
        </div>
        <div class="medium-2 columns">
            <button ng-click="modals.showQr(pocket.mpk, 7)" class="nomarginbottom button postfix radius fa fa-qrcode">QR</button>
        </div>
    </div>
</div>
<div class="row collapse panel radius">
    <dl class="sub-nav">
        <dt>Filter:</dt>
        <dd ng-class="{active: 'unused'===addrFilter}"><a ng-click="setAddressFilter('unused')">Unused</a></dd>
        <dd ng-class="{active: 'labelled'===addrFilter}"><a ng-click="setAddressFilter('labelled')">Labelled</a></dd>
        <dd ng-class="{active: 'top'===addrFilter}"><a ng-click="setAddressFilter('top')">Top</a></dd>
        <dd ng-class="{active: 'all'===addrFilter}"><a ng-click="setAddressFilter('all')">All</a></dd>
    </dl>

    <div class="row collapse">
        <div class="small-3 columns">
            Name
        </div>
        <div class="small-6 columns">
            Address
        </div>
        <div class="small-2 columns">
            Balance
        </div>
    </div>

    <div class="row collapse address-row"  ng-repeat="address in addresses track by $index">
        <div class="small-3 columns">
            <button class="fa button square righted fa-pencil-square" ng-click="textBtnForm.$show()" ng-disabled="textBtnForm.$visible"></button>
            <span class="postfix ellipsis" editable-text="address.label" e-form="textBtnForm" buttons="no" onaftersave="saveStore()">
                {{address.label}}
            </span>
            
        </div>
        <div class="small-6 columns">
            <span class="postfix ellipsis">{{address.address}}</span>
            <div class="labels">
                <span class="label radius" ng-show="address.type=='stealth'">
                    <div class="fa fa-fighter-jet"></div> stealth
                </span>
                <span class="label radius" title="Number of times this address has been used" ng-show="address.nOutputs">
                    {{address.nOutputs}}
                </span>
            </div>
        </div>
        <div class="small-1 large-2 columns text-right">
            <span class="postfix">{{address.balance | currencyFilter}}</span>
        </div>
        <div class="small-2 large-1 columns">
            <div class="row collapse address-row">
                <div class="small-4 columns">
                    <button title="Show QR code" ng-click="modals.showQr(address.address)" class="button postfix single fa fa-qrcode"></button>
                </div>
                <div class="small-4 columns">
                    <button title="Copy address to clipboard" ng-click="clipboard.copy(address.address)" class="button postfix single fa fa-clipboard"></button>
                </div>
                <div class="small-4 columns">
                    <button title="Copy public key to clipboard" ng-click="copyClipboardPublic(address)" class="button postfix radius single fa fa-key"></button>
                </div>
            </div>
        </div>
    </div>
   <div ng-if="nPages>1" class="pagination-centered">
    <ul class="pagination">
        <li ng-click="setPage(page-1)" ng-class="{unavailable:page==0}" class="arrow unavailable"><a href="">&laquo;</a></li>
        <li ng-click="setPage($index)" ng-repeat="n in range(nPages) track by $index" ng-class="{current: page==$index}"><a>{{$index+1}}</a></li>
        <!--<li class="unavailable"><a href="">&hellip;</a></li>-->
        <li ng-click="setPage(page+1)" ng-class="{unavailable:page==nPages-1}" class="arrow"><a href="">&raquo;</a></li>
    </ul>
   </div>



</div>
<div ng-hide="pocket.isFund">
    <a class="button small" ng-click="generateAddress(pocket.index)">New address</a>
    <a class="button small" ng-click="generateAddress(pocket.index+1)">New change address</a>
  </div>
</div>
