<div ng-controller="AddressesCtrl">
  <div class="panel radius" ng-hide="pocket.isAll || pocket.isFund">
    <div class="row collapse">
        <div class="medium-2 columns">
            <span class="prefix radius">Stealth Address</span>
        </div>
        <div class="medium-6 columns">
            <input type="text" class="nomarginbottom" disabled="true" value="{{pocket.stealth}}" />
        </div>
        <div class="medium-2 columns">
            <button ng-click="clipboard.copy(pocket.stealth)" class="nomarginbottom button postfix fa fa-clipboard">Copy</button>
        </div>
        <div class="medium-2 columns">
            <button ng-click="modals.showBtcQr(pocket.stealth)" class="nomarginbottom button postfix radius fa fa-qrcode">QR</button>
        </div>
    </div>

</div>
<div class="row collapse panel radius">
    <dl class="sub-nav">
        <dt>Filter:</dt>
        <dd ng-class="{active: 'unused'===addrFilter}"><a ng-click="setAddressFilter('unused')">Unused</a></dd>
        <dd ng-class="{active: 'labelled'===addrFilter}"><a ng-click="setAddressFilter('labelled')">Labelled</a></dd>
        <dd ng-class="{active: 'top'===addrFilter}"><a ng-click="setAddressFilter('top')">Top</a></dd>
        <dd ng-class="{active: 'all'===addrFilter}"><a ng-click="setAddressFilter('all')">All</a></dd>
    </dl>
	        <ul id="address-actions" class="f-dropdown">
	          <li>
	            <a ng-click="modals.showBtcQr(currentAddress.address)" class="fa fa-qrcode"> Show QR code</a>
	          </li>
			  <li>
				  <a ng-click="currentForm.$show()" class="fa fa-pencil-square"> Edit name</a>
			  </li>
			  <li>
				  <a ng-click="clipboard.copy(currentAddress.address)" class="fa fa-clipboard"> Copy address</a>
			  </li>
			  <li>
				  <a ng-click="copyClipboardPublic(currentAddress)" class="fa fa-key"> Copy public key</a>
			  </li>
	        </ul>

    <div class="row collapse address-row"  ng-repeat="address in addresses track by $index">
        <div class="small-4 columns ellipsis">
            <a ng-click="setCurrentAddress(address, textBtnForm)" dropdown-toggle="#address-actions" class="fa button square lefted fa-chevron-circle-down"></a>
            <span class="address-label" editable-text="address.label" e-form="textBtnForm" buttons="no" onaftersave="saveStore()">
                {{address.label}}
            </span>
        </div>

        <div class="small-6 columns ellipsis">
            {{address.address}}
            <div class="labels">
                <span class="label radius" ng-show="address.type=='stealth'">
                    <div class="fa fa-fighter-jet"></div> stealth
                </span>
                <span class="label radius" title="Number of times this address has been used" ng-show="address.nOutputs">
                    {{address.nOutputs}}
                </span>
            </div>
        </div>
        <div class="small-2 columns text-right">
           {{address.balance | asBtc}} {{settings.currency}}
        </div>
    </div>
   <div ng-if="nPages>1" class="pagination-centered">
    <ul class="pagination">
        <li ng-click="setPage(page-1)" ng-class="{unavailable:page==0}" class="arrow unavailable"><a href="">&laquo;</a></li>
        <li ng-click="setPage($index)" ng-repeat="n in range(nPages) track by $index" ng-class="{current: page==$index}"><a>{{$index+1}}</a></li>
        <!--<li class="unavailable"><a href="">&hellip;</a></li>-->
        <li ng-click="setPage(page+1)" ng-class="{unavailable:page==nPages-1}" class="arrow"><a href="">&raquo;</a></li>
    </ul>
   </div>
	<div class="text-right" ng-hide="pocket.isFund">
    	<a class="button small radius nomarginbottom" ng-click="generateAddress(pocket.index*2)">New address</a>
    	<a class="button small radius nomarginbottom" ng-click="generateAddress((pocket.index*2)+1)">New change address</a>
  	</div>


</div>
	
</div>
