<div class="panel" ng-hide="isAll || isFund">
    <div class="row collapse">
        <div class="medium-2 columns">
            <span class="prefix radius">Stealth Address</span>
        </div>
        <div class="medium-6 columns">
            <input type="text" disabled="true" value="{{pocket.stealth}}" />
        </div>
        <div class="medium-2 columns">
            <button ng-click="copyClipboard(pocket.stealth)" class="button postfix fa fa-clipboard">Copy</button>
        </div>
        <div class="medium-2 columns">
            <button ng-click="openModal('show-qr', {address: pocket.stealth})" class="button postfix radius fa fa-qrcode">QR</button>
        </div>
    </div>
    <div class="row collapse">
        <div class="medium-2 columns">
            <span class="prefix radius">Master Address</span>
        </div>
        <div class="medium-6 columns">
            <input type="text" class="nomarginbottom" disabled="true" value="{{pocket.mpk}}" />
        </div>
        <div class="medium-2 columns">
            <button ng-click="copyClipboard(pocket.mpk)" class="nomarginbottom button postfix fa fa-clipboard">Copy</button>
        </div>
        <div class="medium-2 columns">
            <button ng-click="openModal('show-qr', {address: pocket.mpk, version: 7})" class="nomarginbottom button postfix radius fa fa-qrcode">QR</button>
        </div>
    </div>
</div>
<div class="row collapse panel radius transactions">
    <dl class="sub-nav">
        <dt>Filter:</dt>
        <dd ng-class="{active: 'unused'===addrFilter}"><a ng-click="setAddressFilter('unused')">Unused</a></dd>
        <dd ng-class="{active: 'labelled'===addrFilter}"><a ng-click="setAddressFilter('labelled')">Labelled</a></dd>
        <dd ng-class="{active: 'top'===addrFilter}"><a ng-click="setAddressFilter('top')">Top</a></dd>
        <dd ng-class="{active: 'all'===addrFilter}"><a ng-click="setAddressFilter('all')">All</a></dd>
    </dl>
 
    <div class="row collapse">
        <div class="small-1 columns">
            Edit
        </div>
        <div class="small-2 columns">
            Name
        </div>
        <div class="small-5 columns">
            Address
        </div>
        <div class="small-1 columns">
            Labels
        </div>
        <div class="small-1 columns text-right">
            Balance
        </div>
        <div class="small-2 columns text-right">
            QR Code / Copy
        </div>
    </div>

    <div class="row collapse"  ng-repeat="address in pocket.addresses.concat(pocket.changeAddresses) | filter:addressFilter">
        <div class="small-1 columns">
                <button class="fa square button fa-pencil-square" ng-click="textBtnForm.$show()" ng-disabled="textBtnForm.$visible"></button>
        </div>
        <div class="small-2 columns">
            <div editable-text="address.label" e-form="textBtnForm" buttons="no" onaftersave="identity.store.save()">
                {{address.label}}
            </div>
        </div>
        <div class="small-5 columns">
            {{address.address}}
        </div>
        <div class="small-1 columns">
            <span class="label radius" ng-show="address.type=='stealth'">
                <div class="fa fa-fighter-jet"></div> stealth
            </span>
            <span class="label radius" title="Number of times this address has been used" ng-show="address.nOutputs">
                {{address.nOutputs}}
            </span>
        </div>
        <div class="small-1 columns text-right">
            {{address.balance | currencyFilter}}
        </div>
        <div class="small-2 columns text-right">
            <button title="Scan a QR code" ng-click="openModal('show-qr', {address: address.address})" class="button square fa fa-qrcode"></button>
            <button title="Copy address to clipboard" ng-click="copyClipboard(address.address)" class="button square fa fa-clipboard"></button>
            <button title="Copy public key to clipboard" ng-click="copyClipboardPublic(address)" class="button square fa fa-key"></button>
        </div>
    </div>
  
</div>
<div ng-hide="isFund">
    <a class="button small" ng-click="generateAddress(pocket.index)">New address</a>
    <a class="button small" ng-click="generateAddress(pocket.index+1)">New change address</a>
</div>
