  <div class="row">
    <div ng-include="'tools/quicksend.html'" class="large-6 columns">
    </div>
    <div class="large-6 columns">
      <div class="row collapse panel radius">
        <h5>{{pocket.isFund?'Fund':'Stealth'}} address</h5>
        <div class="small-1 columns">
          <a href="" tooltip-append-to-body="true" tooltip="Copy to clipboard" ng-click="clipboard.copy(pocket.mainAddress)" class="button prefix square radius fa fa-clipboard"></a>
        </div>
        <div class="small-1 columns">
          <a class="button prefix square fa fa-qrcode" tooltip-append-to-body="true" tooltip="Show QR code" ng-click="modals.showQr(pocket.mainAddress)"></a>
        </div>
        <div class="small-10 columns">
          <input type="text" class="postfix radius" readonly value="{{pocket.mainAddress}}" />
        </div>
      </div>
    </div>
  </div>
  <div ng-if="pocket.isAll" ng-controller="OverviewCtrl">

    <ul class="topmargin large-block-grid-4 medium-block-grid-2 small-block-grid-1">
		<li ng-repeat="pocket in allPockets" ng-click="selectGridPocket(pocket)">
			<div class="panel radius pocket-square">
           		<h5><a>{{pocket.name}} </a><small ng-show="pocket.type=='fund'">{{pocket.fund.m}} of {{pocket.fund.pubKeys.length}}</small></h5>
        
           		<span ng-show="pocket.balance.confirmed">{{pocket.balance.confirmed|currencyPresenter}}</span>
           		<span ng-show="!pocket.balance.confirmed">No coins</span>
           	</div>
  		</li>
    </ul>
  </div>

  <div ng-show="historyRows.length" class="row topmargin">
    <div class="small-12 columns">

        <div class="row collapse panel radius transactions">
            <h5>Latest transactions</h5>
            <div class="row collapse"  ng-repeat="row in historyRows track by $index">
             <div class="small-2 columns">
                <div ng-class="{'fa-sign-in': row.total>0 , 'fa-sign-out': row.total<0, 'red': row.total<0, 'green': row.total>0}" class="fa transaction-icon"></div>
             {{row.total | amountFilter}}
             </div>
             <div class="small-6 columns">
               <div ng-hide="row.contact" class="wordwrap">
                {{row.address}}
                <span class="label radius" ng-show="row.isStealth"><div class="fa fa-fighter-jet"></div> stealth</span>
               </div>
               <div title="{{row.address}}" ng-show="row.contact">
                <identicon icon-size="24" hash="row.contact.hash"></identicon>
                {{row.contact.name}}
                <span class="label radius" ng-show="row.isStealth"><div class="fa fa-fighter-jet"></div> stealth</span>
               </div>
             </div>
             <div ng-show="row.height" class="small-2 columns">
               <span title="{{row.height | heightToDate:'calendar'}}">{{row.height | heightToDate}}</span>
             </div>
             <div ng-show="!row.height" class="small-2 columns">
               unconfirmed
             </div>
             <div class="small-1 columns text-right">
              {{row.confirmed | currencyFilter}} <span ng-show="row.unconfirmed">({{row.unconfirmed | amountFilter}})</span>
             </div>
            </div>
  
        </div>
      </div>
  </div>
