  <div class="row">
    <form class="large-6 columns" ng-controller="WalletSendCtrl" ng-submit="sendBitcoins()">
      <div class="row collapse panel radius" ng-hide="quicksend.next">
        <h5>Send</h5>
        <div class="small-1 columns">
          <a href="" tooltip-append-to-body="true" tooltip="Select from contacts" ng-click="openModal('pick-contact', {contacts: identity.contacts.contacts, field: quicksend}, addAddress)" class="fa button square prefix radius fa-users"></a>
        </div>
        <div class="small-1 columns">
          <a href="" tooltip-append-to-body="true" tooltip="Scan QR code" ng-click="openModal('scan-qr', {field: quicksend}, onQrModalOkSend, onQrModalCancel)" class="fa button square prefix fa-qrcode"></a>
        </div>
        <div class="small-6 columns">
          <input type="text" ng-model="quicksend.address" placeholder="Bitcoin address..." />
        </div>
        <div class="small-4 columns">
          <a ng-click="quicksend.next = true" class="button postfix radius fa fa-arrow-right">Next</a>
        </div>
      </div>
      <div class="row collapse panel radius" ng-show="quicksend.next" >
        <h5>Sending to {{quicksend.address}}</h5>
        <div class="small-1 columns">
          <a ng-click="quicksend.next = false" class="button prefix radius fa fa-arrow-left"></a>
        </div>
        <div class="small-5 columns">
          <input ng-hide="quicksend.isFiatShown" ng-disabled="send.sending" type="text" ng-model="quicksend.amount" ng-change="updateBtcFiat(quicksend); validateSendForm();" placeholder="Enter amount" autofocus />
          <input ng-show="quicksend.isFiatShown" ng-disabled="send.sending" type="text" ng-model="quicksend.fiatAmount" ng-change="updateBtcFiat(quicksend); validateSendForm();" placeholder="Enter amount" />
        </div>
        <div class="small-2 columns">
          <a class="button postfix" btn-checkbox tooltip="click to switch to {{selectedFiat}}" ng-model="quicksend.isFiatShown">{{quicksend.isFiatShown? selectedFiat : selectedCurrency}}</a>
        </div>
        <div class="small-4 columns">
        <button class="button postfix radius fa fa-rocket glow">Send</button>
        </div>
      </div>
    </form>
    <div class="large-6 columns">
      <div class="row collapse panel radius">
        <h5>{{isFund?'Fund':'Stealth'}} address</h5>
        <div class="small-1 columns">
          <a href="" tooltip-append-to-body="true" tooltip="Copy to clipboard" ng-click="copyClipboard(isFund?pocket.fund.multisig.address:pocket.stealth)" class="button prefix radius fa fa-clipboard"></a>
        </div>
        <div class="small-1 columns">
          <a class="button prefix square fa fa-qrcode" tooltip-append-to-body="true" tooltip="Show QR code" ng-click="openModal('show-qr', {address: isFund?pocket.fund.multisig.address:pocket.stealth})"></a>
        </div>
        <div class="small-10 columns">
          <input type="text" class="postfix radius" readonly value="{{isFund?pocket.fund.multisig.address:pocket.stealth}}" />
        </div>
      </div>
    </div>
  </div>
  <div class="row topmargin">
    <div class="small-12 columns">

        <div class="row collapse panel radius transactions">
            <h5>Latest transactions</h5>
            <div class="row collapse"  ng-repeat="row in historyRows track by $index">
             <div class="small-2 columns">
                <div ng-class="{'fa-sign-in': row.total>0 , 'fa-sign-out': row.total<0, 'red': row.total<0, 'green': row.total>0}" class="fa transaction-icon"></div>
             {{row.total | amountFilter}}
             </div>
             <div class="small-6 columns">
               <div ng-hide="row.contact">
                {{row.address}}
                <span class="label radius" ng-show="row.isStealth"><div class="fa fa-fighter-jet"></div> stealth</span>
               </div>
               <div title="{{row.address}}" ng-show="row.contact">
                <identicon icon-size="24" hash="row.contact.hash"></identicon>
                {{row.contact.name}}
                <span class="label radius" ng-show="row.isStealth"><div class="fa fa-fighter-jet"></div> stealth</span>
               </div>
             </div>
             <div ng-show="row.height" class="small-2 columns">
               {{row.height | heightToDate}}
             </div>
             <div ng-show="!row.height" class="small-2 columns">
               unconfirmed
             </div>
             <div class="small-1 columns text-right">
              {{row.confirmed | currencyFilter}} <span ng-show="row.unconfirmed">({{row.unconfirmed | amountFilter}})</span>
             </div>
            </div>
  
        </div>
      </div>
  </div>
