<div ng-controller="FundCtrl"> 
   <div class="panel">
      <div class="row collapse">
        <div class="medium-2 columns">
            <span class="prefix radius">Fund Address</span>
        </div>
        <div class="medium-6 columns">
            <input type="text" disabled="true" value="{{pocket.fund.multisig.address}}" />
        </div>
        <div class="medium-2 columns">
            <button ng-click="clipboard.copy(pocket.fund.multisig.address)" class="button postfix fa fa-clipboard">Copy</button>
        </div>
        <div class="medium-2 columns">
            <button ng-click="modals.showQr(pocket.fund.multisig.address)" class="button postfix radius fa fa-qrcode">QR</button>
        </div>
      </div>
      <div>{{pocket.fund.multisig.m}} of {{pocket.fund.multisig.pubKeys.length}} signatures are needed for spends</div>
    </div>
  <div class="row">
  <div class="columns large-6">
	  <div class="panel radius">
    <h5>Fund managers</h5>
    <div class="row collapse" ng-repeat="participant in pocket.fund.participants track by $index" title="{{participant.pubKey | bytesToAddressHash}}">
		<div class="small-1 columns text-right">
			<span class="label" ng-show="participant.type=='me'">me</span>
        	<identicon icon-size="38" hash="participant.hash" ng-show="participant.type!='me'" title="{{contact.hash}}"></identicon>
		</div>
		<div class="small-11 columns">
			<input type="text" value="{{participant.name}}" readonly />
		</div>
		
    </div>
	</div>
  </div>
  <div class="columns large-6">
	<div class="panel radius">
    <h5>Script</h5>
    <div class="row collapse">
      <div class="large-4 columns">
        <button ng-click="clipboard.copy(pocket.fund.multisig.script)" class="button postfix fa fa-clipboard">Copy</button>
      </div>
      <div class="large-4 columns">
        <button ng-click="showFundScript=!showFundScript" class="button postfix fa fa-eye">Show</button>
      </div>
      <div class="medium-4 columns">
        <!-- Maybe too heavy -->
        <button ng-click="modals.showQr(pocket.fund.multisig.script)" class="button postfix radius fa fa-qrcode">QR</button>
      </div>
    </div>
    <textarea class="script" ng-show="showFundScript">{{pocket.fund.multisig.script}}</textarea>
</div>
<div class="panel radius">
    <h5>Tools</h5>
	<div class="row" ng-show="!importingFundTransaction">
		<div class="small-6 columns">
    		<button class="button postfix fa fa-cloud-download" ng-click="importingFundTransaction=true">Import Spend</button>
		</div>
		<div class="small-6 columns">
    		<button class="button postfix alert fa fa-trash-o" ng-click="deleteFund(pocket.fund)">Delete</button>
		</div>
	</div>
    <form name="fundTxForm" novalidate ng-submit="importFundTx(fundTxForm)" ng-show="importingFundTransaction">
        <input required ng-model="fundTxForm.newTx" type="text" placeholder="Paste the transaction hex here"></input>
		<div class="row collapse">
			<div class="small-6 columns">
        		<button class="button postfix fa fa-cloud-download" type="submit">Import</button>
			</div>
			<div class="small-6 columns">
        		<button class="alert button postfix fa fa-times" ng-click="importingFundTransaction=false">Cancel</button>
			</div>
		</div>
    </form>

</div>
  </div> <!-- columns -->
  </div> <!-- row -->
</div>
