<div class="row" ng-controller="HistoryRowsCtrl">
    <div class="small-12 columns">
        <div class="row collapse panel radius" ng-show="!historyRows.length">
            You have no history in this pocket.
        </div>
        <div class="row collapse panel radius" ng-show="historyRows.length">
            <dl class="sub-nav">
                <dt>Filter:</dt>
                <dd ng-class="{active: 'last'===txFilter}"><a ng-click="setHistoryFilter('last')">Last</a></dd>
                <dd ng-class="{active: 'weekly'===txFilter}"><a ng-click="setHistoryFilter('weekly')">Weekly</a></dd>
                <dd ng-class="{active: 'monthly'===txFilter}"><a ng-click="setHistoryFilter('monthly')">Monthly</a></dd>
            </dl>

          <div ng-if="txFilter=='weekly' || txFilter=='monthly'">
            <div class="transactions row collapse hide-for-small">
             <div class="large-3 columns">
               Week
             </div>
             <div class="large-4 columns">
               Incoming
             </div>
             <div class="large-4 columns ellipsis">
               Outgoing
             </div>
             <div class="large-1 columns text-right">
               Transactions
             </div>
            </div>

            <div class="row collapse address-row"  ng-repeat="row in historyRows">
             <div class="large-3 columns">
               <span class="address-label" ng-show="row.label">{{row.label}}</span>
               <span class="address-label" ng-show="!row.label && txFilter=='weekly'">Curent week</span>
               <span class="address-label" ng-show="!row.label && txFilter=='monthly'">Curent month</span>
             </div>
             <div class="large-4 columns">
               <span ng-show="row.incoming">{{row.incoming | currencyPresenter}}</span>
               <span ng-show="!row.incoming">-</span>
             </div>
             <div class="large-4 columns ellipsis">
               <span ng-show="row.outgoing">{{row.outgoing | currencyPresenter}}</span>
               <span ng-show="!row.outgoing">-</span>
             </div>
             <div class="large-1 columns text-right">
               {{row.transactions}}
             </div>

            </div>
          </div>

          <div ng-if="txFilter!='weekly' && txFilter!='monthly'">
	        <ul id="row-actions" class="f-dropdown">
	          <li>
	            <a ng-safebrowser="currentRow.hash" class="fa fa-qrcode"> Show in block explorer</a>
	          </li>
		  <li>
			  <a ng-click="currentForm.$show()" class="fa fa-pencil-square"> Edit label</a>
		  </li>
		  <li>
			  <a ng-click="clipboard.copy(currentRow.hash)" class="fa fa-clipboard"> Copy hash</a>
		  </li>
		  <li ng-show="currentRow.address!=='internal'&&currentRow.address!='unknown'">
			  <a ng-click="clipboard.copy(currentRow.address)" class="fa fa-btc"> Copy {{currentRow.inMine?'destination':'origin'}} address</a>
		  </li>
		  <li ng-show="!currentRow.contact&&currentRow.address!=='internal'&&currentRow.address!='unknown'">
			  <a ng-click="modals.open('pick-contact', {type: 'any', allowCreate: true, newContact: {address: currentRow.address}}, addToContact)" class="fa fa-user"> Add {{currentRow.inMine?'destination':'origin'}} address to contact</a>
		  </li>
	        </ul>


            <div class="transactions row collapse hide-for-small">
             <div class="medium-6 large-8 columns">
               Address
             </div>
             <div class="medium-3 large-2 columns">
               Amount
             </div>
             <div class="medium-3 large-2 columns text-right">
               Total
             </div>
            </div>
             <div class="row collapse address-row transactions"  ng-repeat="row in historyRows track by $index">
             <div class="medium-4 columns large-6 ellipsis">
		<a ng-click="setCurrentRow(row, rowBtnForm)" class="fa button square lefted fa-chevron-circle-down" dropdown-toggle="#row-actions"></a>
			
          	   <identicon ng-show="(row.contact!==undefined)" icon-size="24" hash="row.contact.data.hash"></identicon>
			   <identicon ng-show="(row.contact==undefined)" icon-size="24" data="row.address"></identicon>
               <!-- check for row.contact gets stuck if not done as follows... -->
            
                <span editable-text="rowEdit.label" e-form="rowBtnForm" buttons="no" onaftersave="saveRowLabel()">
				<span class="label radius" ng-show="row.isStealth"><div class="fa fa-fighter-jet"></div> stealth</span>
                <span ng-show="!row.label">
                {{row.contact ? row.contact.data.name : row.address}}
                </span>
                <span tooltip="{{row.address}}" tooltip-append-to-body="true" ng-show="row.label">
                {{row.contact ? row.contact.data.name + ' (' + row.label + ')' : row.label}}
                </span>
                </span>
               
             </div>
             <div ng-show="row.height" class="small-4 medium-2 columns ellipsis">
               <span title="{{row.height | heightToDate:'calendar'}}">{{row.height | heightToDate}}</span>
             </div>
             <div ng-show="!row.height" class="small-4 medium-2 columns ellipsis">
               <span>none</span>
             </div>
            <!-- <div ng-hide="true" tooltip-placement="left" tooltip="See the transaction in the block explorer" ng-click="openTransaction(row.hash)" class="small-4 medium-1 columns ellipsis">
               <a ng-safebrowser="row.hash"><i class="fa fa-sitemap hide-for-medium"></i> {{row.height?1+currentHeight-row.height:0}}</a>
               
             </div>-->
             <div class="small-4 medium-3 large-2 columns">
				 <i ng-class="{'fa-sign-in': row.partial>0 , 'fa-sign-out': row.partial<0, 'red': row.partial<0, 'green': row.partial>0}" class="fa transaction-icon"></i>
             	 {{(row.partial) | amountFilter}}
             </div>
             <div class="hide-for-small medium-3 large-2 columns text-right">
              {{row.current | asBtc}} <span ng-show="row.unconfirmed">({{row.unconfirmed | amountFilter}})</span>
             </div>
            </div>
          </div>
		  <div class="pagination-centered topmargin" ng-show="nPages>1">
		    <ul class="pagination">
		        <li ng-click="setPage(page-1, true)" ng-class="{unavailable:page==0}" class="arrow unavailable"><a href="">&laquo;</a></li>
		        <li ng-click="setPage($index, true)" ng-repeat="n in range(nPages) track by $index" ng-class="{current: page==$index}"><a>{{$index+1}}</a></li>
		        <!--<li class="unavailable"><a href="">&hellip;</a></li>-->
		        <li ng-click="setPage(page+1, true)" ng-class="{unavailable:page==nPages-1}" class="arrow"><a href="">&raquo;</a></li>
		    </ul>
		  </div>
        </div>
    </div>
</div>
