  <form ng-submit="createMultisig()">
  <h3>Start a Multisig fund</h3>
  <span>Multisig funds are wallets that require multiple passwords in order to spend the funds. Useful when you need to manage a wallet between multiple people or devices.</span>
  <h4>Name</h4>
  <input ng-model="multisig.name" type="text" placeholder="Name your multisig fund..." autofocus required />
  <h4>Who will manage this fund?</h4>
  <div ng-show="!multisig.script">
    <div class="row collapse">
      <div class="large-10 columns">
        <input type="text" ng-model="newAddress">
      </div>
      <div class="large-2 columns">
        <a href="" ng-click="addParticipant(newAddress); newAddress = ''" class="button small radius postfix">Add</a>
      </div>
    </div>
    <a href="" ng-click="modals.open('pick-contact', {participants: multisig.participants}, addParticipant)" class="button small radius">Select from contacts</a>
    <a href="" ng-click="modals.scanQr(multisig.participants)" class="button small radius">Scan a QR code</a>
    <a href="" ng-click="addParticipant(clipboard.paste(), multisig)" class="button small radius">Paste a Master/Stealth address</a>
  </div>
    <ul>
      <li ng-repeat="participant in multisig.participants">{{participant.address}}</li>
    </ul>
    <h4>How many signatures will be needed in order to spend?</h4>
    <div class="row collapse">
        <div ng-show="!multisig.script" class="small-6 columns">
          <slider min="1" value="multisig.m" max="multisig.participants.length || 1" ></slider>
        </div>
        <div class="small-6 columns">
          <span class="postfix radius">({{multisig.m}} of {{multisig.participants.length}} signatures)</span>
        </div>
    </div>
    <input type="submit" class="button glow radius" value="Start multisig" />
    <a ng-show="!multisig.script" class="button" ng-click="importMultisig()"> Import a multisig</a>
    </form>
