    <ul class="side-nav" ng-controller="PocketCreateCtrl">
      <li>Pockets on my wallet</li>
      <li ng-class="{active: 'pocket:all'===selectedPocket}" class="active" ng-click="selectPocket()"><a>All</a></li>
      <li ng-class="{active: 'pocket:'+$index===selectedPocket}" ng-repeat="pocket in identity.wallet.pockets.hdPockets track by $index">
        <a href="" ng-click="selectPocket(pocket.name, $index, form)" editable-text="pocket.name" e-form="form" onaftersave="renamePocket(pocket)" buttons="no">{{pocket.name}}</a>
      </li>
      <li ng-show="creatingPocket">
        <form ng-submit="createPocket()">
          <input type="text" autofocus ng-model="newPocket.name" placeholder="Name your pocket..." />
          <input type="submit" class="button small expand radius" value="OK"/>
        </form>
      </li>
      <li ng-hide="creatingPocket">
        <a class="button small expand radius" ng-click="createPocket()">New Pocket</a>
      </li>
      <li class="divider"></li>
      <li>My multisig funds</li>
      <li ng-class="{active: 'fund:'+$index===selectedPocket}" ng-click="selectFund(fund, $index)" ng-repeat="fund in identity.wallet.multisig.funds track by $index"><a href="">{{fund.name}}</a></li>
      <li>
      <a class="button small expand radius" ng-click="newMultiSig()">New Multisig fund</a>
      </li>
      <li class="divider"></li>
      <li>Watch-only pockets</li>
      <li><a href="">My smartphone</a></li>
      <li><a href="">My cold wallet</a></li>
      <li><a class="button small expand radius">Add watch-only pocket</a></li>
    </ul>
