    <ul class="off-canvas-list" ng-controller="PocketCreateCtrl">
      <li><label>Pockets on my wallet</label></li>
      <li ng-class="{active: pocket.isAll}" ng-click="selectPocket()"><a>All</a></li>
      <li ng-show="hdPocket" ng-class="{active: 'hd:'+$index===pocket.type+':'+pocket.lastIndex}" ng-repeat="hdPocket in hdPockets track by $index">
        <a href="" ng-click="selectPocket(hdPocket.name, $index, form)" editable-text="forms.pocketName" e-form="form" blur="submit" onaftersave="finalizeRenamePocket(pocket, forms.pocketName)" buttons="no">{{hdPocket.name}}</a>
      </li>
      <li ng-show="creatingPocket">
        <form ng-submit="createPocket()">
          <input type="text" autofocus ng-model="newPocket.name" placeholder="Name your pocket..." />
          <input type="submit" class="button small expand radius" value="OK"/>
        </form>
      </li>
      <li ng-hide="creatingPocket">
        <a class="button expand nomarginbottom" ng-click="createPocket()">New Pocket</a>
      </li>
      <li class="divider"></li>
      <li><label>My multisig funds</label></li>
      <li ng-class="{active: 'multisig:'+$index===selectedPocket}" ng-click="selectFund(fund, $index)" ng-repeat="fund in allFunds track by $index"><a href="">{{fund.name}}</a></li>
      <li>
      <a class="button expand" ng-click="newMultiSig()">New Multisig fund</a>
      </li>
      <li ng-show="forms.readOnlyArray.length" class="divider"></li>
      <li ng-show="forms.readOnlyArray.length">Watch-only pockets</li>
      <li ng-class="{active: 'readonly:'+$index===selectedPocket}" ng-repeat="readOnlyPocket in forms.readOnlyArray track by $index"><a ng-click="selectReadOnly(readOnlyPocket, $index)"href="">{{readOnlyPocket.name}}</a></li>
    </ul>
