      <tab heading="Tasks" ng-show="isFund && pocket.tasks.length" ng-controller="FundCtrl">
        <div ng-repeat="task in pocket.tasks">
    <h2>Pending Transaction</h2>
    <div class="row">
      <div class="large-6 columns">
            <h3>Destinations</h3>
            <div ng-repeat="out in task.tx.outs">
               <li>{{out.address.toString()}} <b>{{out.value | currencyPresenter}}</b></li>
            </div>
      </div>
      <h3>Transaction:</h3>
      <div class="large-3 columns">
        <button ng-click="copyClipboard(task.task.tx)" class="button-sm postfix fa fa-clipboard">Copy</button>
      </div>
      <div class="large-3 columns">
        <button ng-click="showTx=!showTx" class="button-sm postfix fa fa-eye">Show</button>
      </div>
    </div>
    <div ng-show="showTx"><code>{{pocket.fund.script}}</code></div>

    <div class="row">
      <div class="large-1 columns">
      </div>
      <div class="large-10 columns">

            <div ng-repeat="pending in task.task.pending">
              <p><b title="{{pending.output}}">Signatures {{pending.index}}:</b> {{Object.keys(pending.signatures).length}} of {{pocket.fund.m}}</p>
            </div>

            <!-- Sign -->
            <button ng-show="pocket.canSign && !importingFundSig" ng-click="signFundTx(task)" class="button-sm postfix fa large-6 fa-pencil" >Sign</button>

            <!-- Import sig -->
            <button class="button-sm postfix fa large-6 fa-download" ng-show="!importingFundSig" ng-click="importingFundSig=true">Import Signature</button>
            <form name="fundImportSigForm" novalidate ng-submit="importFundSig(fundImportSigForm, task)" ng-show="importingFundSig">
                <input required ng-model="fundImportSigForm.text" type="text" placeholder="Paste the signature here"></input>
                <button class="button-sm postfix fa large-6 fa-check" type="submit">Import</button>
            </form>
            <button ng-show="importingFundSig" class="alert button-sm postfix large-6 fa fa-times" ng-click="importingFundSig=false">Cancel</button>
      </div>
      <div class="large-1 columns">
      </div>
    </div>



        </div>
      </tab>

