<!doctype html>
<html lang="en" ng-csp>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Darkwallet</title>
    <link rel="stylesheet" href="../vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../vendors/angular/angular-csp.css">
    <link rel="stylesheet" href="../css/app.css">
  </head>
  <body ng-controller="WalletCtrl" ng-keydown="modals.checkKeyDown($event)">
    <!-- Area catching backend gui update events -->
    <span ng-controller="GuiNotifyCtrl"></span>
    <div id="fixed" style="position: fixed"></div>
    <toaster-container toaster-options="{'time-out': 3000}"></toaster-container>
    <div class="modal-ng" ng-cloak ng-if="modals.show">
       <div class="inherit-height" ng-controller="NgModalCtrl" ng-include="modals.page" tabindex="6">
       </div>
    </div>
    <div class="container off-canvas-wrap" ng-cloak ng-class="{'animations-disabled': !settings.animations.enabled}">

        <div class="inner-wrap container pinned">

            <nav class="tab-bar">
              <ng-include src="'partials/navbar.html'"></ng-include>

            </nav>

            <aside class="left-off-canvas-menu container">
                <ng-include src="'partials/sidebar.html'"></ng-include>
            </aside>
            <section class="main-section">

              <ng-include ng-show="alert" src="alert?'alerts/'+alert+'.html':alert"></ng-include>
              <div class="" ng-if="identityName||isActive('/new_wallet')" ng-view>
              </div>


            </section>

            <a class="exit-off-canvas"></a>
        </div>


    </div>
    <!-- Notification Controllers -->
    <span ng-controller="ConnectionNotifyCtrl"></span>
    <script src="../vendors/requirejs/require.js"></script>
    <script src="../js/backend/loader.js"></script>
    <script src="../js/frontend/loader.js"></script>
  </body>
</html>
