div.cardflipper > div.wizard.ng-animate {
	position: absolute;
	width: 100%;
	@include single-transition(all,500ms,linear);
}

div.cardflipper > div.wizard.ng-enter {
	-webkit-transform: rotateY(-180deg);
	opacity:0.3;
}

div.cardflipper > div.wizard.ng-leave.ng-leave-active {
	-webkit-transform: rotateY(180deg);
	opacity: 0.3;
}

div.cardflipper > div.wizard.ng-leave,
div.cardflipper > div.wizard.ng-enter.ng-enter-active {
	-webkit-transform: rotateY(0deg);
	opacity: 1;
}

div.totheright div.tab-scroller.ng-enter,
div.totheleft div.tab-scroller.ng-leave.ng-leave-active {
	opacity: 0;
	-webkit-transform: translate3d(25%,0,0) scale3d(0.3,1,1);
	-webkit-transform-origin: right;
}

div.totheright div.tab-scroller.ng-leave.ng-leave-active,
div.totheleft div.tab-scroller.ng-enter {
	opacity: 0;
	-webkit-transform: translate3d(-25%,0,0) scale3d(0.3,1,1);
	-webkit-transform-origin: left;
}

div.totheright div.tab-scroller.ng-enter-active,
div.totheleft div.tab-scroller.ng-enter-active,
div.totheleft div.tab-scroller.ng-leave,
div.totheright div.tab-scroller.ng-leave {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0) scale3d(1,1,1);
	position: absolute;
	width: 97%;
}


.tab-bar-section.middle.ng-hide,
.tab-bar-section.middle.ng-leave-active,
.tab-bar-section.middle.ng-enter,
.transactions div.ng-leave.ng-leave-active,
.transactions div.ng-enter {
  opacity:0;
}

.tab-bar-section.middle.ng-enter.ng-enter-active,
.transactions div.ng-enter.ng-enter-active,
.transactions div.ng-leave {
  opacity:1;
}



div.modal-ng.ng-animate.ng-enter,
div.modal-ng.ng-animate.ng-leave-active { -webkit-transform: translate3d(0,100%,0); opacity: 0.7; }

div.modal-ng.ng-animate.ng-enter.ng-enter-active { -webkit-transform: translate3d(0,0,0); opacity: 1; }

div.modal-ng:not([ng-cloak]) + div.container { -webkit-transform: scale(0.8); }
div.modal-ng.ng-leave + div.container { -webkit-transform: scale(1); }
div.modal-ng + div.container.animations-disabled { -webkit-transform: none; display: none; }



div.scroller.ng-animate {
	position: absolute;
 	width: 100%;
}

div.scroller.ng-animate.ng-enter, nav.top-bar {
	-webkit-animation: moveFromTopFade .5s ease both;
	-moz-animation: moveFromTopFade .5s ease both;
	animation: moveFromTopFade .5s ease both;
}

div.scroller.ng-animate.ng-leave {
	-webkit-animation: scaleDown .5s ease both;
	-moz-animation: scaleDown .5s ease both;
	animation: scaleDown .5s ease both;
}

div.send-advanced.ng-leave.ng-leave-active,
div.send-advanced.ng-enter,
div.popuptabs > div.ng-enter {
	-webkit-transform: scale3d(1,0,1);
	-webkit-transform-origin: top;
	opacity: 0;
}

div.popuptabs { position: absolute; overflow: hidden; width: 100%; }

div.popuptabs > div.ng-enter.ng-enter-active,
div.send-advanced.ng-enter.ng-enter-active,
div.send-advanced.ng-leave { -webkit-transform: scale3d(1,1,1); opacity: 1; }

div.tab-scroller.ng-animate,
.transactions div.ng-animate,
div.popuptabs > div.ng-animate,
div.send-advanced.ng-animate  { @include single-transition(all, 450ms, ease-in-out); }

div.container { @include single-transition(all, 300ms, ease-out); }
div.modal-ng.ng-animate.ng-leave { @include single-transition(all, 200ms, ease-in); }
div.modal-ng.ng-animate.ng-enter { @include single-transition(all, 300ms, ease-out); }

nav.top-bar { @include single-transition(height, 300ms, ease-out); }
.top-bar section ul { @include single-transition(all, 300ms, ease-out); }

li.active,
.pocketnav,
section.left,
.tab-bar-section.middle,
div.identitylist,
div.send-advanced.ng-hide,
span.tooltip.fade.ng-animate,
.pocket-square,
.contact-mosaic-square,
.contact-mosaic-square img,
.contact-mosaic-square .contact-label,
.contact-mosaic-square .contact-menu,
.top-bar a,
.tabs dd > a,
button.button,
a.button,
button.square { @include single-transition(); }

#maintitle {
	-webkit-perspective: 100px;

 }


#logo.busy {
    -webkit-animation-name: logoactive;
    -webkit-animation-duration: 1.4s;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes logoactive {
  from { -webkit-transform: rotateY(0deg); }
  to { -webkit-transform: rotateY(360deg); }
}

a.glow.button, button.glow, input[type="submit"].glow {
  -webkit-animation-name: glowpulse;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  &:hover, &.working { -webkit-animation: none; }
  span, .progbar { @include single-transition(); }
  &.working .progbar { opacity: 1; }
  &.working span { opacity: 1; }
}

.animations-disabled a.glow.button, button.glow, input[type="submit"].glow {
    -webkit-animation-name: simplepulse;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    &:hover, &.working { -webkit-animation: none; }
  }

@-webkit-keyframes glowpulse {
  from { background-color: $primary-color; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: darken($primary-color, 10%); -webkit-box-shadow: 0 0 18px $primary-color; }
  to { background-color: $primary-color; -webkit-box-shadow: 0 0 9px #333; }
}

@-webkit-keyframes simplepulse {
  from { background-color: $primary-color; }
  50% { background-color: darken($primary-color, 10%); }
  to { background-color: $primary-color; }
}

@-webkit-keyframes rotateFoldBottom {
	to { opacity: 0; -webkit-transform: translateY(100%) rotateX(-90deg); }
}
@-moz-keyframes rotateFoldBottom {
	to { opacity: 0; -moz-transform: translateY(100%) rotateX(-90deg); }
}
@keyframes rotateFoldBottom {
	to { opacity: 0; transform: translateY(100%) rotateX(-90deg); }
}

@-webkit-keyframes moveFromTopFade {
	from { opacity: 0.3; -webkit-transform: translateY(-100%); }
}
@-moz-keyframes moveFromTopFade {
	from { opacity: 0.3; -moz-transform: translateY(-100%); }
}
@keyframes moveFromTopFade {
	from { opacity: 0.3; transform: translateY(-100%); }
}

@-webkit-keyframes rotatePushBottom {
	to { opacity: 0; -webkit-transform: rotateX(90deg); }
}
@-moz-keyframes rotatePushBottom {
	to { opacity: 0; -moz-transform: rotateX(90deg); }
}
@keyframes rotatePushBottom {
	to { opacity: 0; transform: rotateX(90deg); }
}

@-webkit-keyframes scaleDown {
	to { opacity: 0; -webkit-transform: scale(.8); }
}
@-moz-keyframes scaleDown {
	to { opacity: 0; -moz-transform: scale(.8); }
}
@keyframes scaleDown {
	to { opacity: 0; transform: scale(.8); }
}
