/* ==========================================================================
   You can copy the variables file here or simply add new overrides here.
   _variables.scss
   ==========================================================================
    */

$row-width: rem-calc(1280) !default;
$column-gutter: rem-calc(30) !default;
$total-columns: 12 !default;