# ignore IDE/hidden/testing/OS cache files
.*
*~
/nbproject
/nb-configuration.xml
Session.vim
*.tmproj
*.tmproject
tmtags
Thumbs.db
Desktop.ini

# don't ignore special configs
!/.travis.yml
!.gitignore

# ignore some vendor's files
/vendors/mnemonic.js/chrome/
/vendors/sjcl/*
!/vendors/sjcl/sjcl.js
/vendors/bootstrap/
/vendors/jquery/
/vendors/bitcoinjs-lib/*
!vendors/bitcoinjs-lib/src/
/vendors/angular-route/*
!/vendors/angular-route/*.min.js
/vendors/foundation/*
/vendors/font-awesome/*
!/vendors/font-awesome/fonts/*
!/vendors/font-awesome/css/*.min.css
/vendors/jquery.cookie/*
/vendors/jquery-placeholder/*
/vendors/foundation/js/vendor/*
/vendors/modernizr/*
/vendors/fastclick/*

# Ignore Node Modules (install them only if you need to edit scss)
/node_modules/*