# ignore IDE/hidden/testing/OS cache files
.*
*~
/nbproject
/nb-configuration.xml
Session.vim
*.tmproj
*.tmproject
tmtags
Thumbs.db
Desktop.ini

# don't ignore special configs
!/.travis.yml
!.gitignore

# ignore some vendor's files
/src/vendors/mnemonic.js/chrome/
/src/vendors/sjcl/*
!/src/vendors/sjcl/sjcl.js
/src/vendors/bootstrap/
/src/vendors/jquery/
/src/vendors/bitcoinjs-lib/*
!/src/vendors/bitcoinjs-lib/bitcoinjs.js
/src/vendors/angular/*
!/src/vendors/angular/*.min.js
!/src/vendors/angular/*.css
/src/vendors/angular-animate/*
!/src/vendors/angular-animate/*.min.js
/src/vendors/angular-route/*
!/src/vendors/angular-route/*.min.js
/src/vendors/angular-foundation/*
!/src/vendors/angular-foundation/mm-foundation-tpls.min.js
/src/vendors/angular-xeditable/*
!/src/vendors/angular-xeditable/dist
/src/vendors/angular-xeditable/dist/js/xeditable.js
/src/vendors/angular-mocks/*
!/src/vendors/angular-mocks/angular-mocks.js
/src/vendors/angular-translate/*
!/src/vendors/angular-translate/angular-translate.min.js
/src/vendors/angular-translate-loader-static-files/*
!/src/vendors/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js
/src/vendors/mnemonic.js/*
!/src/vendors/mnemonic.js/mnemonic.js
/src/vendors/ngprogress/*
!/src/vendors/ngprogress/*.css
!/src/vendors/ngprogress/build
/src/vendors/ngprogress/build/*
!/src/vendors/ngprogress/build/ngProgress.js
/src/vendors/AngularJS-Toaster/*
!/src/vendors/AngularJS-Toaster/*.css
!/src/vendors/AngularJS-Toaster/toaster.js
/src/vendors/font-awesome/*
!/src/vendors/font-awesome/fonts
/src/vendors/font-awesome/fonts/*
!/src/vendors/font-awesome/fonts/fontawesome-webfont.woff
!/src/vendors/font-awesome/css
/src/vendors/font-awesome/css/*
!/src/vendors/font-awesome/css/font-awesome.min.css
/src/vendors/foundation/*
/src/vendors/fastclick/*
/src/vendors/jquery-placeholder/*
/src/vendors/modernizr/*
/src/vendors/jquery.cookie/*
/src/vendors/requirejs*/*
!/src/vendors/requirejs*/*.js
/src/vendors/qrcodejs/*
!/src/vendors/qrcodejs/qrcode.js
/src/vendors/jsqrcode/*
!/src/vendors/jsqrcode/jsqrcode.js
/src/vendors/darkwallet_gateway/*
!/src/vendors/darkwallet_gateway/client
/src/vendors/darkwallet_gateway/client/*
!/src/vendors/darkwallet_gateway/client/gateway.js
/src/vendors/identicon/*
!/src/vendors/identicon/pnglib.js
!/src/vendors/identicon/identicon.js
/src/vendors/async/*
!/src/vendors/async/lib
/src/vendors/angular-moment/*
!/src/vendors/angular-moment/angular-moment.min.js
/src/vendors/moment/*
!/src/vendors/moment/min/
/src/vendors/moment/min/*
!/src/vendors/moment/min/moment-with-locales.min.js
/src/vendors/big.js/*
!/src/vendors/big.js/big.min.js

# Ignore Node Modules (install them only if you need to edit scss)
/node_modules/*

# Ignore test coverage folder
/test/coverage/*
