# ignore IDE/hidden/testing/OS cache files
.*
*~
/nbproject
/nb-configuration.xml
Session.vim
*.tmproj
*.tmproject
tmtags
Thumbs.db
Desktop.ini

# don't ignore special configs
!/.travis.yml
!.gitignore

# ignore some vendor's files
/vendors/mnemonic.js/chrome/
/vendors/sjcl/*
!/vendors/sjcl/sjcl.js
/vendors/bootstrap/
/vendors/jquery/
/vendors/bitcoinjs-lib/*
!/vendors/bitcoinjs-lib/bitcoinjs.js
/vendors/angular-route/*
!/vendors/angular-route/*.min.js
/vendors/angular-foundation/*
!/vendors/angular-foundation/mm-foundation-tpls.min.js
/vendors/font-awesome/*
!/vendors/font-awesome/fonts
/vendors/font-awesome/fonts/*
!/vendors/font-awesome/fonts/fontawesome-webfont.woff
!/vendors/font-awesome/css
/vendors/font-awesome/css/*
!/vendors/font-awesome/css/font-awesome.min.css
/vendors/foundation/*
/vendors/fastclick/*

# Ignore Node Modules (install them only if you need to edit scss)
/node_modules/*
