<!doctype html>
<html ng-app ng-csp>
  <head>
    <meta charset="utf-8" />
    <title>Dark Wallet : Password</title>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width">
    <script src="vendors/angular/angular.min.js"></script>
    <script src="vendors/mnemonic.js/mnemonic.js"></script>
    <script src="js/darkwallet.js"></script>
    <script src="js/controllers/new_wallet.js"></script>
    <link href="stylesheets/screen.css" rel="stylesheet">
    <link href="stylesheets/fonts.css" rel="stylesheet">
    <link href="stylesheets/opensans.css" rel="stylesheet">
    <link href="stylesheets/font-awesome.css" rel="stylesheet">
  </head>
  <body>
    <section class="createwallet" ng-controller="NewWalletCtrl">
      <h1>Create new wallet</h1>
      <form class="hidden-{{activeForm!='password'}}" ng-submit="passwordSubmit()">
        <div>Register an identity</div>
        <div><input type="text" ng-model="name" placeholder="Identity Name" autofocus ng-required="true" /></div>
        <div><input type="password" ng-model="passwd" placeholder="Password" ng-required="true" /></div>
        <div><input type="password" ng-model="passwd2" placeholder="Repeat password" ng-required="true" /></div>
        <div>Do you want a new wallet or want to restore a previous one from a seed?</div>
        <input type="radio" name="create_or_restore" ng-model="create_or_restore" id="create" value="create" /><label for="create">Create</label><br>
        <input type="radio" name="create_or_restore" ng-model="create_or_restore" id="restore" value="restore" /><label for="restore">Restore</label><br>
        <div>
          <input type="submit" value="Create" class="item-footer">
        </div>
      </form>
      <form class="hidden-{{activeForm!='mnemonic'}}" ng-submit="mnemonicSubmit()">
	<div>Write this seed in a paper and save it.</div>
        <div><textarea type="text" readonly ng-model="mnemonicWords"></textarea></div>
        <div>
          <input type="submit" value="Accept" class="item-footer">
        </div>
      </form>
      <form class="hidden-{{activeForm!='mnemonic2'}}" ng-submit="mnemonic2Submit()">
        <div>Write the seed again</div>
        <div><textarea type="text" placeholder="price bleed trail suspend..." ng-model="mnemonic2Words"></textarea></div>
        <div>
          <input type="submit" value="Accept" class="item-footer">
        </div>
      </form>
    </section>
  </body>
</html>
