<!doctype html>
<html ng-app ng-csp>
  <head>
    <meta charset="utf-8" />
    <title>Dark Wallet : Password</title>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width">
    <script src="js/angular.min.js"></script>
    <script src="js/mnemonic.js"></script>
    <script src="js/new_wallet.js"></script>
    <link href="stylesheets/screen.css" rel="stylesheet">
    <link href="stylesheets/fonts.css" rel="stylesheet">
    <link href="stylesheets/opensans.css" rel="stylesheet">
    <link href="stylesheets/font-awesome.css" rel="stylesheet">
  </head>
  <body>
    <section class="createwallet" ng-controller="NewWalletCtrl">
      <form class="{{passwordHidden}}" ng-submit="passwordSubmit()">
        <div><input type="text" ng-model="username" placeholder="User Name" autofocus ng-required="true" /></div>
        <div><input type="password" ng-model="passwd" placeholder="Password" ng-required="true" /></div>
        <div><input type="password" ng-model="passwd2" placeholder="Repeat password" ng-required="true" /></div>
        <div>
          <input type="submit" value="Create" class="item-footer">
        </div>
      </form>
      <form class="{{mnemonicHidden}}" ng-submit="mnemonicSubmit()">
        <div><textarea type="text" readonly ng-model="mnemonicWords"></textarea></div>
	<div>Gu&aacute;rdala en un papel</div>
        <div>
          <input type="submit" value="Accept" class="item-footer">
        </div>
      </form>
      <form class="{{mnemonic2Hidden}}" ng-submit="mnemonic2Submit()">
        <div><textarea type="text" ng-model="mnemonic2Words"></textarea></div>
        <div>
          <input type="submit" value="Accept" class="item-footer">
        </div>
      </form>
    </section>
  </body>
</html>
