<!doctype html>
<html ng-app ng-csp>
  <head>
    <meta charset="utf-8" />
    <title>Dark Wallet : Password</title>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width">
    <script src="js/angular.min.js"></script>
    <script src="vendors/sjcl/sjcl.js"></script>
    <script src="vendors/bitcoinjs-lib/bitcoinjs.js"></script>
    <script src="js/classes.js"></script>
    <script src="js/popup.js"></script>
    <link href="stylesheets/screen.css" rel="stylesheet">
    <link href="stylesheets/fonts.css" rel="stylesheet">
    <link href="stylesheets/opensans.css" rel="stylesheet">
    <link href="stylesheets/font-awesome.css" rel="stylesheet">
  </head>
  <body>
    <section class="createwallet">
      <form ng-submit="submit()" ng-controller="PasswdCtrl">
        <div><input type="password" ng-model="passwd" placeholder="Password" autofocus ng-required="true"></div>
        <div><input type="password" ng-model="passwd2" placeholder="Repeat password" ng-required="true"></div>
        <div>
            <input type="submit" class="item-footer">
            <a href="popup.html">Back</a>
        </div>
        <div id="result">
           <p class="error">{{message}}</p>
           <input type="text" value="{{pubKey}}" readonly />
           <input type="text" value="{{privKey}}" readonly/>
        </div>
       </form>
    </section>
  </body>
</html>
