<!doctype html>
<html ng-app ng-csp>
  <head>
    <title>Dark Wallet</title>
    <meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">
    <script src="js/angular.min.js"></script>
    <script src="js/popup.js"></script>
	  <link rel="stylesheet" href="./stylesheets/screen.css">
	  <link rel="stylesheet" href="./stylesheets/fonts.css">
	  <link href='./stylesheets/opensans.css' rel='stylesheet' type='text/css'>
	  <link href="./stylesheets/font-awesome.css" rel="stylesheet">
  </head>
  <body ng-controller="PopupCtrl">
    <h2>Dark Wallet</h2>
    <div>
      <select ng-model="identity" ng-options="id.id for id in identities"
      ng-change="identityChange()"></select>
      <h3 class="item-header">Recent Activity</h3>
    	<div class="activity">
		    <div class="activity-list-update" ng-repeat="update in activity">
			    <img src="./images/lorem50.png" alt="Image">
			    <p>{{update.action}}</p>
                  <strong>{{update.amount}} BTC</strong> {{update.timestamp}}
			    <div class="clear"></div>
		    </div>
		    <a href="wallet.html#history" target="_blank" class="item-footer green">
			    Go to history...
		    </a>
		  </div>
		</div>
  </body>
</html>

