<!doctype html>
<html ng-app ng-csp>
  <head>
    <meta charset="utf-8" />
    <title>Dark Wallet : Popup</title>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width">
    <script src="js/angular.min.js"></script>
    <script src="vendors/sjcl/sjcl.js"></script>
    <script src="js/model/store.js"></script>
    <script src="js/model/keyring.js"></script>
    <script src="js/model/contacts.js"></script>
    <script src="js/model/wallet.js"></script>
    <script src="js/model/identity.js"></script>
    <script src="js/classes.js"></script>
    <script src="js/popup.js"></script>
    <link rel="stylesheet" href="stylesheets/screen.css">
    <link rel="stylesheet" href="stylesheets/fonts.css">
    <link rel="stylesheet" href="stylesheets/opensans.css">
    <link rel="stylesheet" href="stylesheets/font-awesome.css">
  </head>
  <body ng-controller="PopupCtrl">
    <div>
      <select ng-model="identity" ng-options="id.id for id in identities" ng-change="identityChange()"></select>
      <div class="activity shown">
        <a href="#" class="item-footer green">Dark Wallet</a>
        <a href="#" class="item-footer">
          <i class="icon-large icon-user"></i> identity3924948 <i id="drop" class="icon-sort-down "></i>
        </a>
      </div>

      <div class="activity shown">
        <div class="activity-list-update">
          <img src="./images/lorem50.png" alt="Image">
          <p>Identity 1</p>
          Latest activity 5 days ago
          <div class="clear"></div>
        </div>
      </div>

      <div class="activity shown">
        <div class="activity-list-update" ng-repeat="update in activity">
          <img src="images/lorem50.png" alt="Image">
          <p>{{update.action}}</p>
          <strong>{{update.amount}} BTC</strong> {{update.timestamp}}
          <div class="clear"></div>
        </div>
        <a href="wallet.html#history" target="_blank" class="item-footer green">
          Go to history...
        </a>
        <a href="password.html" target="_blank" class="item-footer green">
          Create new wallet...
        </a>
      </div>

    </div>
  </body>
</html>
