<div class="large-8 large-centered columns panel radius topmargin">
<form ng-submit="ok(vars.password)">
    <h6>{{vars.text}}</h6>
    <input auto-focus ng-model="vars.password" type="password" placeholder="Write your password..." />
    <button class="button small fa fa-check radius glow" type="submit"> OK</button>
    <a class="button alert small radius fa fa-times" ng-click="cancel()"> Cancel</a>
</form>
</div>
<div class="qractions">
	<a class="fa fa-times button" ng-click="cancel()"></a>
</div>