<div class="large-8 large-centered columns panel radius topmargin">
	<div class="row">
		<form ng-submit="ok(vars.password)">
		<!--{tx: newTx, utxo: txUtxo, total: totalAmount, fee: fee, change: change, myamount: outAmount, stealth: isStealth, recipients: recipients}-->
			<div class="medium-6 columns">
			    <!-- High Fee warning -->
			    <div ng-show="(vars.spend.metadata.fee>=100000)||(vars.spend.metadata.fee>vars.spend.metadata.total)">
				<h3>{{'POPUP:CONFIRM_SEND:HIGHT_FEE:TITLE' | translate}}</h3>
			        <div ng-show="(vars.spend.metadata.fee>=100000)&&(vars.spend.metadata.fee<1000000)">
					<p>{{'POPUP:CONFIRM_SEND:HIGHT_FEE:1MBTC' | translate}}</p>
			        </div>
			        <div ng-show="vars.spend.metadata.fee>=1000000">
					<p>{{'POPUP:CONFIRM_SEND:HIGHT_FEE:10MBTC' | translate}}</p>
			        </div>
			        <div ng-show="vars.spend.metadata.fee>vars.spend.metadata.total">
					<p>{{'POPUP:CONFIRM_SEND:HIGHT_FEE:MORE' | translate}}</p>
			        </div>
			    </div>

			    <h3>{{vars.text}}</h3>
			    <input auto-focus ng-model="vars.password" type="password" placeholder="{{'POPUP:WRITE_PASSWORD' | translate}}" />
			    <button class="button small fa fa-check radius glow" type="submit"> {{'ACCEPT' | translate}}</button>
			    <a class="button alert small radius fa fa-times" ng-click="cancel()"> {{'CANCEL' | translate}}</a>
			</div>
			<div class="medium-6 columns">
			    <h5>{{'POPUP:CONFIRM_SEND:SENDING' | translate: vars}}</h5>
			    <h5 ng-repeat="recipient in vars.recipients">
					{{recipient.amount | formatBtc}} ({{recipient.amount | formatFiat}}) <i class="fa fa-arrow-right"></i> 
			         <identicon icon-size="36" hash="recipient.contact.data.hash"></identicon>
			         {{recipient.contact.data.name}}
			    </h5>
				<h6>{{'FEE' | translate}}: {{vars.spend.metadata.fee | formatBtc}} ({{vars.spend.metadata.fee | formatFiat}})</h6>
			    <h6 ng-show="vars.spend.metadata.label">{{'DESCRIPTION' | translate}}: {{vars.spend.metadata.label}}</h6>
			</div>
		</form>
	</div>
</div>
<div class="qractions">
	<a class="fa fa-times button" ng-click="cancel()"></a>
</div>
