<div class="large-8 large-centered columns panel radius topmargin">
	<div class="row">
		<form ng-submit="ok(vars.password)">
		<!--{tx: newTx, utxo: txUtxo, total: totalAmount, fee: fee, change: change, myamount: outAmount, stealth: isStealth, recipients: recipients}-->
			<div class="medium-6 columns">
			    <!-- High Fee warning -->
			    <div ng-show="(vars.spend.metadata.fee>=100000)||(vars.spend.metadata.fee>vars.spend.metadata.total)">
				<h3>Warning: High Fee!</h3>
			        <div ng-show="(vars.spend.metadata.fee>=100000)&&(vars.spend.metadata.fee<1000000)">
					<p>Your fee is bigger than reasonable (greater or equal to 1 mBTC), please <b>double check</b> before sending.</p>
			        </div>
			        <div ng-show="vars.spend.metadata.fee>=1000000">
					<p>Your fee is insanely high (greater or equal to 10 mBTC), please <b>triple check</b> before sending.</p>
			        </div>
			        <div ng-show="vars.spend.metadata.fee>vars.spend.metadata.total">
					<p>Your fee is greater than your sent amount, please <b>triple check</b> before sending.</p>
			        </div>
			    </div>

			    <h3>{{vars.text}}</h3>
			    <input auto-focus ng-model="vars.password" type="password" placeholder="Write your password..." />
			    <button class="button small fa fa-check radius glow" type="submit"> OK</button>
			    <a class="button alert small radius fa fa-times" ng-click="cancel()"> Cancel</a>
			</div>
			<div class="medium-6 columns">
			    <h5>Sending {{vars.spend.metadata.total+vars.spend.metadata.fee | formatBtc}} from "{{vars.spend.pocket.label || vars.spend.pocket.name}}"</h5>
			    <h5 ng-repeat="recipient in vars.recipients">
					{{recipient.amount | formatBtc}} ({{recipient.amount | formatFiat}}) <i class="fa fa-arrow-right"></i> 
			         <identicon icon-size="36" hash="recipient.contact.data.hash"></identicon>
			         {{recipient.contact.data.name}}
			    </h5>
				<h6>Fee: {{vars.spend.metadata.fee | formatBtc}} ({{vars.spend.metadata.fee | formatFiat}})</h6>
			    <h6 ng-show="vars.spend.metadata.label">Description: {{vars.spend.metadata.label}}</h6>
			</div>
		</form>
	</div>
</div>
<div class="qractions">
	<a class="fa fa-times button" ng-click="cancel()"></a>
</div>
