<div class="row"><div ng-controller="ContactsCtrl" class="small-12 columns">
      
<h6>Select a contact</h6>

<div class="row" ng-show="allContacts.length>5">
  <div class="small-12 columns">
    <div class="row collapse">
      <div class="small-2 columns">
        <span class="prefix radius">Search</span>
      </div>
      <div class="small-10 columns">
        <input type="text" id="contact-search" ng-init="modals.focus('contact-search')" class="postfix radius" ng-blur="contactSearch" ng-change="filterContacts()" ng-model="contactSearch">
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
     <div class="contact-mosaic">
        <ul class="large-block-grid-5 medium-block-grid-3 small-block-grid-2">
	  <li ng-repeat="contact in contacts | orderBy:'name' track by $index" ng-click="ok(contact.pubKeys[contact.mainKey].address)">
	    <div class="contact-mosaic-square">
		    <identicon icon-size="64" hash="contact.hash" title="{{contact.hash}}"></identicon>
		    <div class="contact-label">{{contact.name}}</div>
	    </div>
  	  </li>
      </ul>
      </div>
  </div>
</div>
</div>
</div>
<a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
