<div ng-controller="ContactsCtrl" class="large-11 large-centered columns panel inherit-height">

	<div class="row">
		<div class="small-6 columns">
			<h3>Select a contact <small ng-show="vars.type=='pubKey'">Showing only contacts with master/stealth address.</small></h3>
		</div>
                <!-- create button -->
		<div ng-show="vars.allowCreate" class="small-6 columns text-right">
		  <a id="newcontact" class="button tiny radius fa fa-plus topright" ng-show="!(contactFormShown===true)" ng-click="modals.focus('new-contact-name'); contactFormShown = true"> New contact</a>
		</div>
	</div>

	<div class="row" ng-show="allContacts.length>10 && !contactFormShown">
	  <div class="small-12 columns">
	    <div class="row collapse">
	      <div class="small-2 columns">
	        <span class="prefix radius">Search</span>
	      </div>
	      <div class="small-10 columns">
	        <input type="text" auto-focus class="postfix radius" ng-change="filterContacts()" ng-model="contactSearch">
	      </div>
	    </div>
	  </div>
	</div>

        <!-- create form -->
	<form name="createContactForm" ng-show="contactFormShown === true" ng-submit="pickContact(createContact(vars.newContact))" novalidate>
	  <div class="row">
	    <div class="small-12 columns">
			<div class="row collapse hide-for-small">
				<div class="medium-2 columns">
					<label>Name</label>
				</div>
				<div class="medium-10 columns">
					<label>Address</label>
				</div>
			</div>
	      <div class="row collapse">
		<div class="medium-2 columns">
				<input id="new-contact-name" ng-model="vars.newContact.name" type="text" class="radius prefix" autofocus placeholder="Name for this contact..." required />
			</div>
		<div class="medium-6 columns">
		  <input ng-model="vars.newContact.address" class="disabled prefix" type="text" btc-address />
		  <span class="input-status fa fa-check"></span>
		</div>
	      </div>
	    </div>
	  </div>
	  <div class="row text-right">
		<div class="small-12 columns">
		  <a href="" ng-click="modals.focus('contact-search'); contactFormShown = false" class="button alert small radius">Cancel</a>
		  <input ng-disabled="createContactForm.$invalid" type="submit" class="button small radius" value="Save" />
		</div>
	  </div>
	</form>


	<div class="row inherit-height">
	  <div class="small-12 columns inherit-height">
	     <div class="contact-mosaic">
	        <ul class="large-block-grid-5 medium-block-grid-3 small-block-grid-2">
		  <li ng-repeat="contact in contacts | orderBy:'data.name' track by $index" ng-click="pickContact(contact)">
		    <div class="contact-mosaic-square">
			    <identicon icon-size="64" hash="contact.data.hash" title="{{contact.data.hash}}"></identicon>
			    <div class="contact-label">{{contact.data.name}}</div>
		    </div>
	  	  </li>
	      </ul>
	      </div>
	  </div>
	</div>
</div>

<div class="qractions">
	<a class="fa fa-times button" ng-click="cancel()"></a>
</div>
