<div class="row"><div ng-controller="ContactsCtrl" class="small-12 columns">
      
<h6>Select a contact</h6>

<div class="row" ng-show="allContacts.length>5">
  <div class="small-12 columns">
    <div class="row collapse">
      <div class="medium-2 columns">
        <span class="prefix radius">Search:</span>
      </div>
      <div class="medium-10 columns">
        <input type="text" size="50" ng-change="filterContacts()" ng-model="contactSearch"></input>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
     <div class="contact-mosaic">
        <ul class="large-block-grid-5 medium-block-grid-3 small-block-grid-2">
	  <li ng-repeat="contact in contacts track by $index" ng-click="ok(contact.address)">
	    <div class="panel radius text-center">
		    <identicon icon-size="64" hash="contact.hash" title="{{contact.hash}}"></identicon>
		    <h5>{{contact.name}}</h5>
	    </div>
  	  </li>
      </ul>
      </div>
  </div>
</div>

<a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
</div></div>
