<div class="row">
  <div class="small-6 columns">
    <h3>{{'Contacts'|_}}</h3>
  </div>
  <div class="small-6 columns text-right">
    <a id="newcontact" class="button tiny radius fa fa-plus topright" ng-show="!(contactFormShown===true)" ng-click="modals.focus('new-contact-name'); contactFormShown = true"> {{'New contact'|_}}</a>
  </div>
</div>
<div class="row" ng-show="!(contactFormShown === true) && allContacts.length>5">
  <div class="small-12 columns">
      <form name="searchForm">
        <input id="contact-search" type="text" placeholder="{{'Search...'|_}}" class="radius" ng-change="filterContacts()" ng-model="contactSearch" auto-focus autofocus></input>
      </form>
  </div>
</div>
<form name="createContactForm" ng-show="contactFormShown === true" ng-submit="createContact(newContact)" novalidate>
  <div class="row">
    <div class="small-12 columns">
		<div class="row collapse hide-for-small">
			<div class="medium-2 columns">
				<label>{{'Name'|_}}</label>
			</div>
			<div class="medium-10 columns">
				<label>{{'Address'|_}}</label>
			</div>
		</div>
      <div class="row collapse">
        <div class="medium-2 columns">
			<input id="new-contact-name" ng-model="newContact.name" type="text" class="radius prefix" placeholder="{{'Name for this contact...'|_}}" required />
		</div>
        <div class="medium-6 columns">
          <input autofocus ng-model="newContact.address" class="prefix" type="text" placeholder="{{'Bitcoin address...'|_}}" required btc-address />
          <span class="input-status fa fa-check"></span>
        </div>
        <div class="small-6 medium-2 columns"><a href="" ng-click="newContact.address = clipboard.paste()" class="button postfix fa fa-clipboard">{{'Paste'|_}}</a></div>
        <div class="small-6 medium-2 columns"><a href="" ng-click="modals.scanQr(newContact)" class="button radius postfix fa fa-qrcode">{{'Scan QR'|_}}</a></div> 
      </div>
    </div>
  </div>
  <div class="row text-right">
        <div class="small-12 columns">
          <a href="" ng-click="modals.focus('contact-search'); contactFormShown = false" class="button alert small radius">{{'Cancel'|_}}</a>
          <input ng-disabled="createContactForm.$invalid" type="submit" class="button small radius" value="{{'Save'|_}}" />
        </div>
  </div>
</form>

<div class="row">
	<div class="small-12 columns">
		<div class="contact-mosaic-full">
  			<ul class="contacts large-block-grid-5 medium-block-grid-3 small-block-grid-2">
   				<li ng-repeat="contact in contacts | orderBy:'data.name' track by $index">
      				<div ng-click="openContact(contact)" class="contact-mosaic-square">
        				<identicon icon-size="64" hash="contact.data.hash" title="{{contact.mainKey.address}}"></identicon>

					<div class="contact-label"> <i ng-class="{'icon-bitcoin': contact.data.idKey===undefined&&contact.mainKey.type=='address', 'icon-key': contact.data.idKey===undefined&&contact.mainKey.type=='pubkey', 'icon-stealth': contact.data.idKey===undefined&&contact.mainKey.type=='stealth', 'fa-ticket': contact.data.idKey===undefined&&contact.mainKey.type=='pcode', 'fa': contact.data.idKey===undefined&&contact.mainKey.type=='pcode', 'icon-id': !(contact.data.idKey===undefined)}"></i> {{contact.data.name}} <span class="label radius" ng-show="contact.online && contact.online.timestamp + fadeTimeout > lastTimestamp">online</span>
            				</div>
				</div>
      			  </li>
  			</ul>
		</div>
	</div>
</div>
