<div class="row">
  <div class="small-12 columns"><h3>{{'Settings'|_}}</h3></div>
</div>
<div class="row">
      <div class="large-4 columns">
        <div class="panel setback seed">
          <h5>{{'Security'|_}}</h5>
          <button class="expand ng-animate-disabled" ng-show="!seedTool&&!passTool" ng-click="seedError='';seedTool=true">{{'Show seed'|_}}</button>
          <div ng-show="seedTool">
            <label>{{'Enter your current password'|_}}</label>
            <input type="password" class="password" ng-model="seedPassword">
            <input type="text" ng-model="yourSeedHex" ng-show="yourSeed && !seedError">
            <input type="text" ng-model="yourSeedWords" ng-show="yourSeed && !seedError">
            <div ng-show="seedError">
             {{'Incorrect password'|_}}
            </div>
            <button class="small radius" ng-click="showSeed();">{{'Show seed'|_}}</button>
            <button class="small alert radius" ng-click="seedTool=false;">{{'Cancel'|_}}</button>
          </div>
        <button class="expand ng-animate-disabled" ng-show="!passTool&&!seedTool" ng-click="incorrectPassword=false;passTool=true">{{'Change password'|_}}</button>
        <form ng-show="passTool" name="passwordForm" ng-submit="passwordChanged()" novalidate>
          <h5>{{'Change your password'|_}}</h5>
          <label>{{'Enter your current password'|_}}</label>
          <input type="password" class="password" required ng-model="oldPassword">
          <div ng-show="incorrectPassword">{{'Incorrect password'|_}}</div>
          <label>{{'Enter your new password'|_}}</label>
          <input type="password" class="password" required ng-model="newPassword">
          <label>{{'Repeat new password'|_}}</label>
          <input type="password" class="password" required ng-model="newPasswordRepeat">
          <div ng-show="newPassword !== newPasswordRepeat">{{'Password doesn\'t match'|_}}</div>
          <button type="submit" class="small radius">{{'Change password'|_}}</button>
          <a class="small radius alert button" ng-click="passTool=false;">{{'Cancel'|_}}</a>
        </form>
          <h5 ng-show="settings.advanced">{{'Mixing'|_}}</h5>
          <div ng-show="settings.advanced">
             <input id="checkbox-mixer" title="{{'If mixing is enabled when sending, will only send if successfull mixing, otherwise will just not send'|_}}" ng-model="settings.hardMixing" ng-change="storeSettings()" type="checkbox"><label for="checkbox-mixer">{{'Enforced mixing'|_}}</label><br>
          </div>

        </div>
      </div>
      <div class="large-5 columns">
        <div class="panel setback notifications">
          <h5>{{'Interface'|_}}</h5>
          <input id="checkbox-animations" ng-model="settings.animations.enabled" type="checkbox" ng-change="animationsChanged()"><label for="checkbox-animations">{{'Enable animations'|_}}</label><br>
          <h5>{{'Notifications'|_}}</h5>
          <span ng-show="settings.advanced">
          <input id="checkbox-outtx" ng-model="settings.notifications.send" type="checkbox"><label for="checkbox-outtx"> {{'For outgoing transactions'|_}}</label><br>
          <input id="checkbox-intx" ng-model="settings.notifications.receive" type="checkbox"><label for="checkbox-intx">{{'For incoming transactions'|_}}</label><br>
          <input id="checkbox-multisig" ng-model="settings.notifications.multisig" type="checkbox"><label for="checkbox-multisig">{{'For multisig spend requests'|_}}</label><br>
          </span>
          <input id="checkbox-notify" ng-model="settings.notifications.popup" type="checkbox" ng-change="storeSettings()"><label for="checkbox-notify">{{'For chat messages'|_}}</label><br>
          <h5>{{'Language'|_}}</h5>
          <select id="select-language" ng-model="settings.language" ng-change="languageChanged()" ng-options="language.code as language.name for language in languages"></select>
        </div>
        <div ng-controller="ServersCtrl" class="panel setback net">
          <h5>{{'Servers'|_}}</h5>
          <div ng-show="addServerError" class="row collapse">
            <div class="small-8 columns">
                {{addServerError}}
            </div>
          </div>
          <div class="row collapse">
            <div class="small-8 columns">
              <input ng-hide="newServer.next" ng-model="newServer.address" type="text" ng-pattern="validIPPort" placeholder="{{'Enter IP address (e.g: 80.34.132.23:2534)'|_}}" />
              <input ng-show="newServer.next" ng-model="newServer.name" type="text" placeholder="{{'Enter name'|_}}" autofocus />
            </div>
            <div class="small-4 columns">
              <a ng-hide="newServer.next" ng-disabled="!newServer.address" ng-click="newServer.address && (newServer.next = true)" class="fa button postfix radius fa-plus">{{'Next'|_}}</a>
              <a ng-show="newServer.next" ng-click="addServer()" class="fa button postfix radius fa-plus">{{'Add'|_}}</a>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <select class="select-list" size="50" ng-model="selectedServerIdx">
                   <option ng-repeat="server in servers track by $index" value="{{$index}}" ng-click="selectedServerIdx=$index" ng-selected="selectedServerIdx==$index">{{server.name}}</option>
              </select>
              <div class="row">
                <div class="small-9 columns">
                  <a ng-click="connectServer()" class="button small radius expand">{{'Connect to selected server'|_}}</a>
                </div>
                <div class="small-3 columns">
                  <a ng-disabled="selectedServer===servers[selectedServerIdx]" ng-click="removeServer()" class="button small alert radius expand">{{'Delete'|_}}</a>
                </div>
              </div>
              <h6>{{connectionStatus == "Connected" ? 
                  ('Connected to {0} @ {1}'|_:selectedServer.name:selectedServer.address) : 
                      connectionStatus == "Connecting" ?
                          ('Connecting to {0} @ {1}'|_:selectedServer.name:selectedServer.address) : 
                          ('Disconnected from {0} @ {1}'|_:selectedServer.name:selectedServer.address)}}</h6>
              <div ng-show="connectionStatus == 'Connected'">
                <div>{{'gateway'|_}}: {{servicesStatus.gateway}}</div>
                <div>obelisk: {{servicesStatus.obelisk}}</div>
                <textarea readonly>Welcome to the Unsystem server!!</textarea>
                <a class="button tiny radius expand">{{'Donate to this server'|_}}</a>
              </div>
            </div>
          </div>
        </div>
        <div class="panel setback notifications">
          <h5>{{'Identity'|_}}</h5>
          <a class="button fa fa-flask postfix" ng-click="identitySettings=!identitySettings">{{'Settings'|_}}</a>
          <div class="row" ng-show="identitySettings">
              <form name="identityNameForm" ng-submit="setIdentityName(identityNameForm.name)">
                  <div class="columns small-6">
                      <input type="text" placeholder="{{'New name...'|_}}" ng-model="identityNameForm.name" value="{{currentIdentity}}" required>
                  </div>
                  <div class="columns small-6">
                      <button type="submit">{{'Change name'|_}}</button>
                  </div>
              </form>
          </div>
        </div>

      </div>
      <div class="large-3 columns">
        <div class="panel setback coins">
          <h5>{{'Base unit'|_}}</h5>
            <input type="radio" name="baseunit" value="BTC" id="btc-radio" ng-change="currencyChanged()" ng-model="selectedCurrency"><label for="btc-radio">BTC</label>
            <input type="radio" name="baseunit" value="mBTC" id="mbtc-radio" ng-change="currencyChanged()" ng-model="selectedCurrency"><label for="mbtc-radio">mBTC</label>
            <input type="radio" name="baseunit" value="bits" id="bits-radio" ng-change="currencyChanged()" ng-model="selectedCurrency"><label for="bits-radio">bits</label>
          <h5>{{'Default fee'|_}}</h5>
          <input ng-model="defaultFee" ng-change="defaultFeeChanged()" type="text" currency-amount />
        </div>
        <div class="panel setback fiat-background">
          <h5>{{'Local currency'|_}}</h5>
          <select ng-model="selectedFiat" ng-options="key as value.name for (key , value) in fiatCurrencies" ng-change="fiatCurrencyChanged()">
          </select>
        </div>
        <a class="button fa fa-gears postfix" href="#tools">{{'Tools'|_}}</a>
        <a class="button fa fa-flask postfix" href="#dev">{{'Development'|_}}</a>
      </div>
</div>
