<ul class="off-canvas-list" ng-controller="SidebarCtrl">
    <li class="pocketpinned" ng-hide="1">
    	<a ng-click="titleClick()" id="maintitle"><img id="logo" src="../images/logo.svg" width="32" height="32" ng-class="{'busy': status.syncing}" /> Darkwallet</a>
    	<a class="fa fa-arrow-left" ng-click="titleClick()"></a>
    </li>
    <li id="mainpocket" ng-class="{active: pocket.isAll}"><a ng-click="selectOverview()" id="maintitle"><img id="logo" src="../images/logo.svg" width="32" height="32" ng-class="{'busy': status.syncing}" /> Darkwallet</a></li>
  	<li>
      <a class="cornerbutton" ng-class="" ng-click=""><label><i class="fa fa-chevron-up"></i></label></a>
      <label>{{'my pockets'|_}} </label>
    </li>
  	<li ng-show="hdPocket" ng-class="{active: 'hd:'+$index===pocket.type+':'+pocket.lastIndex&&isActive('/wallet')}" ng-repeat="hdPocket in hdPockets track by $index">
      <a href="" ng-click="selectPocket(hdPocket.name, $index)">{{hdPocket.name | pocket}}</a>
    </li>
    <li class="divider"></li>
    <li>
      <a class="cornerbutton" ng-class="" ng-click=""><label><i class="fa fa-chevron-up"></i></label></a>
      <label>{{'multisig funds'|_}} </label>
    </li>
    <li ng-class="{active: 'multisig:'+$index===forms.selectedPocket&&isActive('/wallet')}" ng-click="selectFund(fund, $index)" ng-repeat="fund in allFunds track by $index"><a href="">{{fund.name}}</a></li>
    <li ng-show="forms.readOnlyArray.length">
      <a class="cornerbutton" ng-class="" ng-click=""><label><i class="fa fa-chevron-up"></i></label></a>
      <label>{{'Watch-only pockets'|_}} </label>
    </li>
    <li ng-class="{active: 'readonly:'+$index===forms.selectedPocket&&isActive('/wallet')}" ng-repeat="readOnlyPocket in forms.readOnlyArray track by $index"><a ng-click="selectReadOnly(readOnlyPocket, $index)"href="">{{readOnlyPocket.name}}</a></li>


    <li><label>Management</label></li>

    <li ng-class="{active:isActive('/contact')}"><a href="#contacts"><i class="icon-contacts"></i> {{'Contacts'|_}}</a></li>

    <li title="{{'Settings'|_}}" id="settings" ng-class="{active:isActive('/settings')}"><a href="#settings"><i class="icon-cog"></i> {{'Settings'|_}}</a></li>


    <li title="{{'Identities'|_}}" ng-class="{active:isActive('/identities')}"><a ng-show="identityName" href="#identities"><i class="icon-wallet"></i> {{'Wallets'|_}} ({{identityName}})</a></li>
    <li ng-class="{active:isActive('/send')}"><a href="#send"><i class="icon-rocket"></i> {{'Send'|_}}</a></li>

    <li ng-class="{active:isActive('/lobby')}"><a href="#lobby"><i class="icon-chat"></i> {{'Lobby'|_}}</a></li>

    <li title="{{'Gateway'|_}}: {{status.obelisk}}" ng-show="!settings.advanced && status.obelisk!='ok'"><a><i class="fa fa-chain-broken"></i> Disconnected!!</a></li>
    <li ng-show="settings.advanced" title="{{'Block explorer'|_}}" ng-class="{active:isActive('/browser')}"><a href="#browser"><i class="fa fa-sitemap"></i> {{'Browser'|_}} {{currentHeight}}</a></li>

</ul>
