    <!-- Content area -->
    		<div ng-hide="forms.selectedPocket==='newMultisig'||forms.selectedPocket==='newPocket'">

      <!-- Tabs -->
      		<div class="tabbable" ng-class="{totheright: tabs.previous<tabs.current, totheleft: tabs.previous>tabs.current}">
  					<div class="row topmargin">
  						<div class="small-12 columns">
  	        				<dl class="tabs">
  	          				  	<dd ng-show="tab.isVisible()" ng-class="{active: tab.isActive()}" ng-repeat="tab in tabs.pages">
  	                         <a ng-click="tab.select()">{{tab.heading|_}}</a>
  	          					</dd>
  	        				</dl>
  						</div>
  					</div>
         		<div class="tab-scroller ng-animate-disabled" ng-include="tabs.pages[tabs.current].tplUrl"></div>
      		 </div>
    	  </div>
   		 <!-- New multisig dialog -->
    		<div ng-if="forms.selectedPocket==='newMultisig'" ng-controller="NewFundCtrl" class="large-10 medium-9 columns">
        	  <ng-include src="'wallet/new_fund.html'">
        		</ng-include>
    		</div>

   		 <!-- New pocket dialog -->
    		<div ng-if="forms.selectedPocket==='newPocket'" class="large-10 medium-9 columns">
        	  <ng-include src="'wallet/new_pocket.html'">
        		</ng-include>
    		</div>
