    <!-- Content area -->
    		<div>

      <!-- Tabs -->
      		<div class="tabbable" ng-class="{totheright: tabs.previous<tabs.current, totheleft: tabs.previous>tabs.current}">
  					<div class="row topmargin">
  						<div class="small-12 columns">
  	        				<dl class="tabs">
  	          				  	<dd ng-show="tab.isVisible()" ng-class="{active: tab.isActive()}" ng-repeat="tab in tabs.pages">
  	                         <a ng-click="tab.select()">{{tab.heading|_}}</a>
  	          					</dd>
  	        				</dl>
  						</div>
  					</div>
         		<div class="tab-scroller ng-animate-disabled" ng-include="tabs.pages[tabs.current].tplUrl"></div>
      		 </div>
    	  </div>

