<div ng-include="'partials/wallet/menu.html'"></div>
<section>
  <div class="wallets">
    <div class="pockets">
      <div class="main-balance" ng-click="selectPocket()">{{totalBalance}} BTC</div>
      <div class="wallet-list">
        <ul>
          <li ng-repeat="pocket in identity.wallet.pockets" ng-click="selectPocket(pocket)" >{{pocket}}</li>
        </ul>
      </div>
      <div id="newpocket">New mini-wallet</div>
    </div>
    <div class="infos">
      <h2>{{pocket.name}}</h2>
      <div class="der down"><h2>{{balance/100000000}} BTC</h2></div>
      <h6 ng-show="pocket.mpk">Master address: {{pocket.mpk}}</h6>
      <h6 ng-show="pocket.stealth">Stealth address: {{pocket.stealth}}</h6>
      <table class="history">
        <tr>
          <th>Status</th>
          <th>Date</th>
          <th>Name</th>
          <th>Address</th>
          <th>Amount</th>
          <th>Balance</th>
        </tr>
        <tr ng-repeat="row in history">
          <td><i class="icon-large icon-ok"></i></td>
          <td>height: {{row.height}}</td>
          <td>no label</td>
          <td>{{row.address}}</td>
          <td>{{(row.myOutValue-row.myInValue)/100000000}}</td>
          <td>{{row.balance/100000000}}</td>
        </tr>
      </table>
    </div>
  </div>
</section>