<div ng-cloak ng-show="!isActive('/new_wallet')" class="alert-box warning" ng-controller="ReseedCtrl">
    <div class="row">You need to reseed your wallet to finish the upgrade</div>
    <div ng-show="status.syncing||status.gateway!=='ok'" class="row">(Wait for wallet to sync to reseed)</div>
    <div ng-show="!status.syncing&&status.gateway==='ok'" class="row"><b>Please <a ng-click="reseedIdentity()">click here to reseed</a>.</b></div>
    <div class="row topmargin"><em>sorry for the inconvenience.</em></div>
    <a ng-click="alert=false" class="close">&times;</a>
</div>
