  <div class="row" ng-show="pocket.readOnly">
    <div class="small-12 columns">
        <div class="panel radius">
        {{'Read only pocket.'|_}}
        </div>
    </div>
  </div>
  <div class="row" ng-hide="forms.selectedPocket=='pocket:all'">
    <div ng-include="'tools/quicksend.html'" class="small-12 large-6 columns"></div>
    <div class="small-12 large-6 columns">
      <div class="panel radius">
    		<div class="row collapse">

              <div class="small-12 columns">
                <h5>{{pocket.type=='multisig'?('Fund address'|_):pocket.stealth?('Stealth address'|_):('Main address'|_)}} ({{pocket.name | pocket}})</h5>
    			    </div>
    	        <div class="small-8 medium-10 columns">
    	          <input type="text" class="prefix radius nomarginbottom" readonly value="{{pocket.mainAddress}}" />
    	        </div>
    	        <div class="small-2 medium-1 columns">
    	          <a href="" tooltip-append-to-body="true" tooltip="{{'Copy to clipboard'|_}}" ng-click="clipboard.copy(pocket.mainAddress)" class="button prefix square icon-copy"></a>
    	        </div>
    	        <div class="small-2 medium-1 columns">
    	          <a class="button postfix square radius icon-qrcode" tooltip-append-to-body="true" tooltip="{{'Show QR code'|_}}" ng-click="modals.showBtcQr(pocket.mainAddress)"></a>
    	        </div>
    		</div>
      </div>

        <div class="panel radius">
            <h5>Mixer</h5>
            <a ng-click="setMixing(pocket)" ng-class="{'fa-square-o':!pocket.mixing, 'fa-check-square-o': pocket.mixing}" class="fa button postfix">{{'Mix funds on this pocket (CoinJoin)'|_}}</a>

        </div>

    </div>


  </div>
  <div class="row" ng-hide="pocket.isAll||pocket.readOnly">
  </div>
  <div class="row">
	  <div class="small-12 columns" ng-if="pocket.isAll" ng-controller="OverviewCtrl">
      <div class="panel radius pocketoverview">
          {{forms.overviewPocket.hd.current|formatBtc}}
          <span>{{forms.overviewPocket.hd.current|formatFiat}}</span>
          in {{forms.overviewPocket.hd.number}} pockets
          <a class="button newpocket radius fa fa-plus" href="#new_pocket"></a>
          <a class="button collapseoverview radius fa" ng-class="{'fa-arrow-up': forms.hdOverview, 'fa-arrow-down': !forms.hdOverview}" ng-click="forms.hdOverview=!forms.hdOverview"></a>

      </div>
	    <ul class="large-block-grid-4 medium-block-grid-2 small-block-grid-1" ng-if="forms.hdOverview">

			<li class="pocket-square-wrapper" ng-repeat="pocket in hdPockets">
        <div ng-if="editing==(pocket.type+pocket.index)">

              <div class="editpocket"><a ng-click="toggleEdit(pocket)" class="button radius fa fa-times"></a></div>

              <div class="panel radius pocket-square editing">
                    <h5>
                        {{pocket.name | pocket}}
                    </h5>
                    <input class="radius" value="{{pocket.name | pocket}}" autofocus type="text">
                    <div class="row collapse">
                        <div class="small-6 columns">
                            <a ng-class="{'disabled': (pocket.type=='pocket' && pocket.index==0) || (pocket.type=='pocket'&&(pocket.balance.confirmed||pocket.balance.unconfirmed))}" class="button alert expand prefix radius nomarginbottom">Delete</a>
                        </div>
                        <div class="small-6 columns">
                          <a class="button expand postfix radius nomarginbottom">{{'Rename'|_}}</a>

                        </div>
                    </div>
                    <span ng-if="pocket.type=='pocket' && pocket.index==0">{{"Can't delete the first pocket!"|_}}</span>
                    <span ng-if="pocket.type=='pocket'&&(pocket.balance.confirmed||pocket.balance.unconfirmed)">{{"Can't delete pocket with funds"|_}}</span>
                </div>
          </div>


        <div ng-if="editing!=pocket.type+pocket.index" ng-click="selectGridPocket(pocket)">
            <div class="editpocket"><a ng-click="toggleEdit(pocket)" class="button radius fa fa-cog"></a></div>

				    <div class="panel radius pocket-square">
	           		  <h5>
                      {{pocket.name | pocket}}
                  </h5>

                  <small ng-show="pocket.type=='fund'">{{'{0} of {1}'|_:pocket.fund.m:pocket.fund.pubKeys.length}}</small>
	           		  <span ng-show="pocket.balance.confirmed">{{pocket.balance.confirmed | formatBtc}} <br><span class="fiat">{{pocket.balance.confirmed | formatFiat}}</span></span>
	           		  <span ng-show="!pocket.balance.confirmed">{{'No coins'|_}}</span>
	           		  <span ng-show="pocket.balance.unconfirmed"><small><br>{{'Unconfirmed'|_}}: {{pocket.balance.unconfirmed | amountFilter}} <span class="fiat">{{pocket.balance.unconfirmed | formatFiat}}</span></small></span>


	           	</div>
          </div>
	  		</li>
	    </ul>
      <div class="panel radius pocketoverview">
          {{forms.overviewPocket.multisig.current|formatBtc}}
          <span>{{forms.overviewPocket.multisig.current|formatFiat}}</span>
          in {{forms.overviewPocket.multisig.number}} funds
          <a class="button newpocket radius fa fa-plus" href="#new_fund"></a>
          <a class="button collapseoverview radius fa" ng-class="{'fa-arrow-up': forms.multisigOverview, 'fa-arrow-down': !forms.multisigOverview}" ng-click="forms.multisigOverview=!forms.multisigOverview"></a>

      </div>
      <ul class="large-block-grid-4 medium-block-grid-2 small-block-grid-1" ng-if="forms.multisigOverview">

      <li class="pocket-square-wrapper" ng-repeat="pocket in multisigPockets">
        <div ng-if="editing==(pocket.type+pocket.index)">

              <div class="editpocket"><a ng-click="toggleEdit(pocket)" class="button radius fa fa-times"></a></div>

              <div class="panel radius pocket-square editing">
                    <h5>
                        {{pocket.name | pocket}}
                    </h5>
                    <input class="radius" value="{{pocket.name | pocket}}" autofocus type="text">
                    <div class="row collapse">
                        <div class="small-6 columns">
                            <a ng-class="{'disabled': (pocket.type=='pocket' && pocket.index==0) || (pocket.type=='pocket'&&(pocket.balance.confirmed||pocket.balance.unconfirmed))}" class="button alert expand prefix radius nomarginbottom">Delete</a>
                        </div>
                        <div class="small-6 columns">
                          <a class="button expand postfix radius nomarginbottom">{{'Rename'|_}}</a>

                        </div>
                    </div>
                    <span ng-if="pocket.type=='pocket' && pocket.index==0">{{"Can't delete the first pocket!"|_}}</span>
                    <span ng-if="pocket.type=='pocket'&&(pocket.balance.confirmed||pocket.balance.unconfirmed)">{{"Can't delete pocket with funds"|_}}</span>
                </div>
          </div>


        <div ng-if="editing!=pocket.type+pocket.index" ng-click="selectGridPocket(pocket)">
            <div class="editpocket"><a ng-click="toggleEdit(pocket)" class="button radius fa fa-cog"></a></div>

            <div class="panel radius pocket-square">
                  <h5>
                      {{pocket.name | pocket}}
                  </h5>

                  <small ng-show="pocket.type=='fund'">{{'{0} of {1}'|_:pocket.fund.m:pocket.fund.pubKeys.length}}</small>
                  <span ng-show="pocket.balance.confirmed">{{pocket.balance.confirmed | formatBtc}} <br><span class="fiat">{{pocket.balance.confirmed | formatFiat}}</span></span>
                  <span ng-show="!pocket.balance.confirmed">{{'No coins'|_}}</span>
                  <span ng-show="pocket.balance.unconfirmed"><small><br>{{'Unconfirmed'|_}}: {{pocket.balance.unconfirmed | amountFilter}} <span class="fiat">{{pocket.balance.unconfirmed | formatFiat}}</span></small></span>


              </div>
          </div>
        </li>
      </ul>
	  </div>
	</div>
  <div ng-show="historyRows.length" class="row" ng-controller="LatestCtrl">
    <div class="small-12 columns">

        <div class="row collapse panel radius transactions">
            <h5>{{'Latest transactions'|_}}</h5>
            <div class="row collapse" ng-repeat="row in historyRows track by $index" ng-class="{'unconfirmed': !row.height}">
             <div class="small-12 medium-6 large-7 columns">
               <div tooltip-append-to-body="true" class="ellipsis">
                 <i tooltip="{{row.address}}" ng-class="{'fa-sign-in': row.partial>0 , 'fa-sign-out': row.partial<0, 'red': row.partial<0, 'green': row.partial>0}" class="fa transaction-icon"></i>
                 <identicon ng-show="row.contact" icon-size="24" hash="row.contact.data.hash"></identicon>
				         <identicon ng-hide="row.contact" icon-size="24" data="row.address"></identicon>
				         <span class="label radius" ng-show="row.isStealth"><div class="fa fa-fighter-jet"></div> {{'stealth'|_}}</span>
                 <span ng-show="!row.label">
                   {{row.contact ? row.contact.data.name : row.address}}
                 </span>
                 <span tooltip="{{row.address}}" tooltip-append-to-body="true" ng-show="row.label">
                   {{row.contact ? row.contact.data.name + ' (' + row.label + ')' : row.label}}
                 </span>
		             <span class="label radius address" ng-repeat="outAddress in row.outAddresses" ng-show="[undefined, 'change', 'unused'].indexOf(outAddress.label)==-1&&outAddress.type!='multisig'&&outAddress.label!=outAddress.address">{{outAddress.label}}</span>
               </div>
             </div>

             <div class="small-4 medium-2 columns ellipsis">
               <span ng-show="row.height" tooltip-append-to-body="true" tooltip="{{row.height | heightToDate:'calendar'}}">{{row.height | heightToDate}}</span>
               <span ng-show="!row.height">{{'Unconfirmed'|_}}</span>
             </div>

             <div class="small-4 medium-1 large-1 columns">

             {{row.partial | amountFilter}}
             </div>
             <div class="small-4 medium-2 large-2 columns text-right">
              {{row.current | formatBtc:true}}
             </div>
            </div>

        </div>
      </div>
  </div>
