<div class="row collapse">
	<div class="large-10 large-centered columns cardflipper">
		<div class="wizard" ng-controller="PocketCreateCtrl">
                       <form name="newPocketForm" ng-submit="createPocket()">
			<div class="row">
				<div class="small-12 columns">
					<h6>{{'Pockets allow organizing your wallet in different privacy zones'|_}}</h6>
				</div>
			</div>
			<div class="row collapse">
				<div class="small-9 columns">
                                          <input type="text" maxlength="30" auto-focus ng-model="newPocket.name" placeholder="{{'Name your pocket...'|_}}" />
				</div>

				<div class="small-3 columns">
                                          <input type="submit" class="button postfix radius" value="{{'Create'|_}}" ng-click="createPocket()"/>
				</div>
				<!--<div class="small-3 columns">
                                          <input type="submit" class="button small alert expand radius" value="{{'Cancel'|_}}" ng-click="selectPocket()"/>
				</div>-->
			</div>
                       </form>

		</div>

	</div>
</div>
