<div ng-controller="CalculatorCtrl" class="row collapse">
  <h5>{{'Calculator'|_}}</h5>
  <div class="small-2 columns">
    <span class="prefix radius">{{settings.currency}}</span>
  </div>
  <div class="small-4 columns">
    <input ng-focus="calculator.amountFocused = true" ng-blur="calculator.amountFocused = false" ng-model="calculator.amount" type="text" />
  </div>
  <div class="small-1 columns">
    <span class="prefix">=</span>
  </div>
  <div class="small-4 columns">
    <input ng-focus="calculator.convertedFocused = true" ng-blur="calculator.convertedFocused = false" ng-model="calculator.converted" type="text" />
  </div>
  <div class="small-1 columns">
    <span id="currency-icon" class="postfix radius" title="{{settings.fiat}}">{{fiatSymbol}}</span>
  </div>
</div>