  <form class="bitid" ng-submit="login()" novalidate>
    <div class="row">
      <div class="small-12 columns">
        <h3>{{'Request for identification'|_}}</h3>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
          <div class="row collapse" ng-bind-html="('**{0}** is requesting that you identify yourself with a Bitcoin address. Do you want to proceed?'|_:site)">
        </div>
        <div class="row collapse">
          <button class="button small radius">{{'Yes'|_}}</button>
          <a ng-click="close()" class="button small alert radius">{{'No'|_}}</a>
        </div>
      </div>
    </div>
  </form>