  <form class="bitid" ng-submit="login()" novalidate>
    <div class="row">
      <div class="small-12 columns">
        <h3>Request for identification</h3>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns" ng-hide="next">
        <div class="row collapse">
          <strong>{{site}}</strong> is requesting that you identify yourself with a Bitcoin address. Do you want to proceed?
        </div>
        <div class="row collapse">
          <a ng-click="next=true" class="button small radius">Yes</a>
          <a ng-click="close()" class="button small alert radius">No</a>
        </div>
      </div>
      <div class="small-12 columns" ng-show="next">
        <div class="row collapse">
          Select the identity
        </div>
        <div class="row collapse">
          <button>Log in</button>
        </div>
      </div>
    </div>
  </form>