<!-- Header -->
<div class="row panel radius topmargin">
	<div class="small-12 columns">
   <!-- Contact info -->
  <div class="row">
        	<identicon icon-size="48" hash="vars.contact.data.hash" title="{{vars.contact.data.hash}}"></identicon>
			<span class="contact-name">{{vars.contact.data.name}}</span> <span class="label radius" ng-show="vars.contact.online">online</span>
  </div>

  <!-- Options -->
  <div class="row topmargin">
        <dl class="tabs">
          <dd ng-class="{active: contactSection=='overview'}">
              <a ng-click="setContactSection('overview')">{{'Overview'|_}}</a>
          </dd>
		  <dd ng-class="{active: contactSection=='addresses'}">
			  <a ng-click="setContactSection('addresses')">{{'Addresses'|_}}</a>
		  </dd>
		  <dd ng-show="settings.advanced" ng-class="{active: contactSection=='trust'}">
		  	  <a ng-click="setContactSection('trust')">{{'Trust'|_}}</a>
		  </dd>
	  <!--<dd>
			  <a ng-click="contactSection='history'">History</a>
		  </dd> -->
        </dl>
  </div>
  
<div class="row topmargin" ng-show="contactSection=='trust'">
    <p ng-show="!vars.contact.trust.trust&&!vars.contact.trust.validation">{{'You have no trust on this peer'|_}}</p>
    <p ng-show="vars.contact.trust.validation!==0||vars.contact.trust.trust!==0">Your trust level is {{vars.contact.trust.trust+vars.contact.trust.opsec+vars.contact.trust.validation}}</p>
    <em ng-show="vars.contact.trust.trust>1">Beacons will be sent and received automatically [friend]</em>
    <h3>{{'Set trust'|_}}</h3>
    <em>{{'This describes the trust you have on this person.'|_}}</em>
    <div class="row">
        <div class="columns small-9">
             <input type="radio" ng-model="vars.contact.trust.trust" value="-1" id="trust-distrust" name="contact-trust" ng-change="setTrust()" />
             <label for="trust-distrust">{{'Distrust'|_}}</label>
             <input type="radio" ng-model="vars.contact.trust.trust" value="0" id="trust-zero" name="contact-trust" ng-change="setTrust()" />
             <label for="trust-zero">{{'Zero'|_}}</label>
             <input type="radio" ng-model="vars.contact.trust.trust" value="1" id="trust-known" name="contact-trust" ng-change="setTrust()" />
             <label for="trust-known">{{'Known'|_}}</label>
             <input type="radio" ng-model="vars.contact.trust.trust" value="2" id="trust-friend" name="contact-trust" ng-change="setTrust()" />
             <label for="trust-friend">{{'Friend'|_}}</label>
             <input type="radio" ng-model="vars.contact.trust.trust" value="3" id="trust-trusted" ng-change="setTrust()" name="contact-trust" />
             <label for="trust-trusted">Trusted</label>
             <input type="radio" ng-model="vars.contact.trust.trust" value="4" id="trust-maximum" name="contact-trust" ng-change="setTrust()" />
             <label for="trust-maximum">{{'Maximum'|_}}</label>
        </div>
       <!-- <div class="columns small-3">
            <a class="button fa fa-flask postfix" ng-click="setTrust()">{{'Set trust'|_}}</a>
        </div>-->
    </div>
    <h3>{{'Security level'|_}}</h3>
    <em>{{'This describes how conscious this person is about operational security.'|_}}</em>
    <div class="row">
        <div class="columns small-9">
             <input type="radio" ng-model="vars.contact.trust.opsec" value="-2" id="sec-sabotager" name="contact-sec" ng-change="setTrust()" />
             <label for="sec-sabotager">{{'Sabotager'|_}}</label>
             <input type="radio" ng-model="vars.contact.trust.opsec" value="-1" id="sec-careless" name="contact-sec" ng-change="setTrust()" />
             <label for="sec-careless">{{'Careless'|_}}</label>
             <input type="radio" ng-model="vars.contact.trust.opsec" value="0" id="sec-unrated" name="contact-sec" ng-change="setTrust()" />
             <label for="sec-unrated">{{'Unrated'|_}}</label>
             <input type="radio" ng-model="vars.contact.trust.opsec" value="1" id="sec-meticulous" name="contact-sec" ng-change="setTrust()" />
             <label for="sec-meticulous">{{'Meticulous'|_}}</label>
             <input type="radio" ng-model="vars.contact.trust.opsec" value="2" id="sec-expert" name="contact-sec" ng-change="setTrust()" />
             <label for="sec-expert">{{'Expert'|_}}</label>
             <input type="radio" ng-model="vars.contact.trust.opsec" value="3" id="sec-paranoid" name="contact-sec" ng-change="setTrust()" />
             <label for="sec-paranoid">{{'Paranoid'|_}}</label>
             <input type="radio" ng-model="vars.contact.trust.opsec" value="4" id="sec-snowden" name="contact-sec" ng-change="setTrust()" />
             <label for="sec-snowden">Snowden</label>
        </div>
        <!--<div class="columns small-3">
            <a class="button fa fa-flask postfix" ng-click="setTrust()">{{'Set level'|_}}</a>
        </div>-->
    </div>
    <h3>{{'Set validation'|_}}</h3>
    <em ng-show="settings.advanced">{{'This should be per key but maybe is ok here if there is just one?...'|_}}</em>
    <div class="row">
        <div class="columns small-9">
             <input type="radio" id="validation-no" name="contact-validation" ng-model="vars.contact.trust.validation" value="0" ng-change="setTrust()" />
             <label for="validation-no">{{'No validation'|_}}</label>
             <input type="radio" id="validation-casual" name="contact-validation"  ng-model="vars.contact.trust.validation" value="1"  ng-change="setTrust()" />
             <label for="validation-casual">{{'Casual checking'|_}}</label>
             <input type="radio" id="validation-carefully" name="contact-validation" ng-model="vars.contact.trust.validation" value="2" ng-change="setTrust()" />
             <label for="validation-carefully">{{'Carefully checked'|_}}</label>
             <input ng-disabled="true" type="radio" id="validation-mathematic" name="contact-validation" ng-model="vars.contact.trust.validation" value="3" ng-change="setTrust()" />
             <label ng-disabled="true" for="validation-mathematic">{{'Mathematically checked'|_}}</label>
        </div>
        <!--<div class="columns small-3">
            <a class="button fa fa-flask postfix" ng-click="setTrust()">{{'Set validation'|_}}</a>
        </div>-->
    </div>

</div>

<div class="row topmargin" ng-show="contactSection=='history'">
    <p>{{'You have no history with this peer'|_}}</p>
</div>

<div class="row topmargin" ng-show="contactSection=='overview' || !contactSection">
	<label>{{'The main address for this contact is'|_}}</label>	
      <div class="row collapse">
		<div class="medium-1 columns">
			<span class="prefix radius fa" title="{{'Type of address'|_}}" ng-class="{'fa-btc': vars.contact.mainKey.type=='address', 'fa-key': vars.contact.mainKey.type=='pubkey', 'fa-fighter-jet': vars.contact.mainKey.type=='stealth'}"> {{vars.contact.mainKey.type}}</span>
		</div>
        <div class="large-9 medium-7 columns">
          <input type="text" readonly value="{{vars.contact.mainKey.address}}" />
        </div>
        <div class="large-1 medium-2 small-6 columns">
          <a href="" tooltip-append-to-body="true" tooltip="{{'Copy to clipboard'|_}}" ng-click="clipboard.copy(vars.contact.mainKey.address)" class="button postfix fa fa-clipboard">{{'Copy'|_}}</a>
        </div>
        <div class="large-1 medium-2 small-6 columns">
          <a class="button postfix radius fa fa-qrcode" tooltip-append-to-body="true" tooltip="{{'Show QR code'|_}}" ng-click="modals.showBtcQr(vars.contact.mainKey.address)">QR</a>
        </div>
      </div>
      <div class="row collapse">
          <p ng-show="vars.contact.pubKeys.length>1">{{'This contact has'|_}} <a ng-click="contactSection='addresses'">{{'{0} keys'|_:vars.contact.pubKeys.length}}</a><span ng-show="settings.advanced" > {{'and no'|_}} <a ng-click="contactSection='trust'">{{'trust defined'|_}}</a></span>.</p>
          
      </div>
    
</div>
<!-- Addresses for the user -->
<div class="row topmargin" ng-show="contactSection=='addresses'">
	
	
	        <ul id="contact-address-actions" class="f-dropdown">
	          <li>
	            <a ng-click="modals.showBtcQr(currentPubKey.address||currentPubKey.data)" class="fa fa-qrcode"> {{'Show QR code'|_}}</a>
	          </li>
			  <li>
				  <a ng-click="clipboard.copy(currentPubKey.address||currentPubKey.data)" class="fa fa-clipboard"> {{'Copy to clipboard'|_}}</a>
			  </li>
			  <li>
				  <a ng-click="openEditForm(vars.contact, currentIndex)" class="fa fa-pencil-square"> {{'Edit'|_}}</a>
			  </li>
			  <li>
				  <a ng-click="openEditForm(vars.contact, currentIndex, 'label')" class="fa fa-pencil-square"> {{'Edit label'|_}}</a>
			  </li>
			  <li ng-show="currentIndex!=vars.contact.data.mainKey">
				  <a ng-click="deleteKey(vars.contact, currentIndex)" class="fa fa-trash-o"> {{'Delete'|_}}</a>
			  </li>
	        </ul>


    <div class="row collapse address-row" ng-repeat="pubKey in vars.contact.pubKeys">

			<div class="small-11 columns ellipsis" ng-show="!(editingContact===$index)">
					
				<a ng-click="setCurrentPubKey(pubKey, $index)" dropdown-toggle="#contact-address-actions" class="fa button square lefted fa-chevron-circle-down"></a>
	            <span class="address-type" title="{{'Type of address'|_}}">
	               <div class="fa" 
	                 ng-class="{'fa-question-circle': pubKey.type=='unknown', 'fa-btc': pubKey.type=='address', 'fa-key': pubKey.type=='pubkey', 'fa-fighter-jet': pubKey.type=='stealth', 'fa-user': pubKey.type=='id'}">
	               </div>
				   {{pubKey.type}} 
				 </span>
				 <identicon icon-size="32" data="pubKey.address"></identicon>
	            	<span title="{{pubKey.address||pubKey.data}}">{{pubKey.label||pubKey.address||pubKey.data}}</span>

			</div>
			<div class="small-1 columns" ng-if="pubKey.type!='revoked'&&pubKey===vars.contact.mainKey" ng-show="!(editingContact===$index)">
				<div class="fa-star fa button square active righted"></div>
			</div>
			<div class="small-1 columns" ng-if="['revoked','id'].indexOf(pubKey.type)==-1&&pubKey!==vars.contact.mainKey" ng-show="!(editingContact===$index)">
				<a ng-click="setMainKey(vars.contact, $index)" class="fa button square righted fa-star-o"></a>
			</div>
			<div ng-show="editingContact===$index" class="small-12 columns">
				<form ng-submit="editContactKey(vars.contact, $index)">
					<input placeholder="{{contactToEdit.type?('Enter a label...'|_):('Enter an address or public key...'|_)}}" type="text" class="prefix radius nomarginbottom" ng-model="contactToEdit.address">
					<button class="button square righted fa fa-check" type="submit"></button>
				</form>
			</div>
    </div>	
	<div class="topmargin">
  	  <!-- Create contact form -->
  		<a ng-click="creatingContact=true" class="fa fa-plus button small radius" ng-show="!creatingContact"> {{'Add another address'|_}}</a>
  	  	<form name="createContact" ng-show="creatingContact" ng-submit="creatingContact=false;addContactKey(vars.contact);" novalidate>
    		<div class="row collapse">
				<div class="small-4 columns">
               	 	<input type="text" class="prefix radius" placeholder="{{'Enter a label...'|_}}" ng-model="newContact.label"></input>
        		</div>
				<div class="small-6 columns">
               	 	<input type="text" class="prefix radius" placeholder="{{'Enter a bitcoin address here...'|_}}" required contact-address ng-model="newContact.address" autofocus></input>
        		</div>
				<div class="small-2 columns">
					<a class="button postfix radius fa fa-qrcode">{{'Scan QR code'|_}}</a>
				</div>
    		</div>
			<div class="row">
				<div class="small-12 columns text-right">
					<a class="button small radius nomarginbottom alert fa fa-times" ng-click="creatingContact=false"> {{'Cancel'|_}}</a>
					<button ng-disabled="createContact.$invalid" type="submit" class="button small radius nomarginbottom fa fa-check"> {{'Confirm'|_}}</button>
				</div>
			</div>
  	  </form>
	</div>
</div>
</div> <!-- panel -->
<!-- Bottom row -->
<div ng-show="!creatingContact" class="row collapse">
	<div class="small-4 columns">
	    <a href="#contacts" class="fa fa-arrow-left nomarginbottom button small radius"> {{'Back'|_}}</a>
    </div>
	<div class="small-8 columns text-right">
		<form name="contactEditForm" ng-show="contactSection=='overview'&&!(editingContact===false)" ng-submit="saveName(vars.contact, contactToEdit.name)">
          <input type="text" autofocus ng-model="contactToEdit.name"><button class="button square righted fa fa-check" type="submit"></button>
        </form>
		<div ng-show="contactSection=='overview'">
		<a ng-click="toggleWatch(vars.contact)" ng-class="{'fa-eye-slash':!vars.contact.data.watch, 'fa-eye': vars.contact.data.watch}" class="fa button small nomarginbottom radius"> {{vars.contact.data.watch?('Unwatch'|_):('Watch'|_)}}</a>
		<a ng-click="openEditForm(vars.contact, 0)" class="fa button small nomarginbottom radius fa-terminal"> {{'Rename'|_}}</a>
    	<a ng-click="modals.open('confirm-delete', {name: vars.contact.data.name, object: vars.contact}, deleteContact)" class="small button nomarginbottom radius alert fa fa-trash-o"> {{'Delete'|_}}</a>
    </div>
</div>
</div>

