<div class="row">
  <div class="small-6 columns">
    <h3>Contacts</h3>
  </div>
  <div class="small-6 columns aright">
    <a id="newcontact" class="button tiny topright">New contact</a>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <table class="expand">
      <thead>
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th class="text-right">Edit/Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="contact in identity.contacts.contacts">
          <td>{{contact.name}}</td>
          <td>{{contact.address}}</td>
          <td class="text-right">
            <button ng-click="editContact(contact)" class="button square fa fa-edit"></button>
            <button ng-click="deleteContact(contact)" class="button square fa fa-trash-o"></button>
          </td>
        </tr>
        <tr class="editrow">
          <td><input ng-model="newContact.name" type="text" placeholder="Write a new contact name" /></td>
          <td><input ng-model="newContact.address" type="text" placeholder="Bitcoin address" /></td>
          <td class="text-right"><button ng-click="createContact()" class="button small expand">Save</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
