<div class="row">
  <div class="small-6 columns">
    <h3>Contacts</h3>
  </div>
  <div class="small-6 columns text-right">
    <a id="newcontact" class="button tiny topright" ng-click="contactFormShown = true">New contact</a>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <table class="expand">
      <thead>
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th class="text-right">Edit/Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="contact in identity.contacts.contacts" ng-class="{editrow: contactFormShown === $index}">
          <td ng-hide="contactFormShown === $index">{{contact.name}}</td>
          <td ng-hide="contactFormShown === $index">{{contact.address}}</td>
          <td class="text-right" ng-hide="contactFormShown === $index">
            <button ng-click="contactFormShown = $index" class="button square fa fa-edit"></button>
            <button ng-click="deleteContact(contact)" class="button square alert fa fa-trash-o"></button>
          </td>
          <td ng-show="contactFormShown === $index"><input class="contact-name" ng-model="contact.name" type="text" placeholder="Write a new contact name" /></td>
          <td ng-show="contactFormShown === $index">{{contact.address}}</td>
          <td class="text-right" ng-show="contactFormShown === $index"><button ng-click="contactFormShown = false; editContact(contact)" class="button small">Save</button></td>
        </tr>
      </tbody>
    </table>
    <div class="row collapse" ng-show="contactFormShown === true">
      <div class="large-3 columns"><input ng-model="newContact.name" type="text" placeholder="Write a new contact name" /></div>  
      <div class="large-5 columns"><input ng-model="newContact.address" type="text" placeholder="Bitcoin address" /></div>
      <div class="large-2 columns"><button ng-click="createContact()" class="button postfix fa fa-save">Save</button></div>
      <div class="large-2 columns"><button ng-click="contactFormShown = false" class="button postfix fa fa-times">Cancel</button></div>
    </div>
  </div>
</div>
<script type="text/ng-template" id="confirm.html">
    <h6>Are you sure you want to delete <i>{{contact.name}}</i>?</h6>
    <button class="button alert small" ng-click="ok()">OK</button>
    <button class="button small" ng-click="cancel()">Cancel</button>
    <a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
</script>
