<!-- Header -->
<div class="row panel radius topmargin">
	<div class="small-12 columns">
   <!-- Contact info -->
  <div class="row">
        	<identicon icon-size="48" hash="vars.contact.data.hash" title="{{vars.contact.data.hash}}"></identicon>
			<span class="contact-name">{{vars.contact.data.name}}</span>
  </div>

  <!-- Options -->
  <div class="row topmargin">
        <dl class="tabs">
          <dd ng-class="{active: contactSection=='overview'}">
              <a ng-click="setContactSection('overview')">Overview</a>
          </dd>
		  <dd ng-class="{active: contactSection=='addresses'}">
			  <a ng-click="setContactSection('addresses')">Addresses</a>
		  </dd>
		  <dd ng-show="settings.advanced" ng-class="{active: contactSection=='trust'}">
		  	  <a ng-click="setContactSection('trust')">Trust</a>
		  </dd>
	  <!--<dd>
			  <a ng-click="contactSection='history'">History</a>
		  </dd> -->
        </dl>
  </div>
  
<div class="row topmargin" ng-show="contactSection=='trust'">
    <p>You have no trust on this peer</p>
    <h3>Set trust</h3>
    <div class="row">
        <div class="columns small-9">
             <input type="radio" id="trust-distrust" name="contact-trust" />
             <label for="trust-distrust">Distrust</label>
             <input type="radio" id="trust-zero" name="contact-trust" checked />
             <label for="trust-zero">Zero</label>
             <input type="radio" id="trust-known" name="contact-trust" />
             <label for="trust-known">Known</label>
             <input type="radio" id="trust-friend" name="contact-trust" />
             <label for="trust-friend">Friend</label>
             <input type="radio" id="trust-trusted" name="contact-trust" />
             <label for="trust-trusted">Trusted</label>
             <input type="radio" id="trust-maximum" name="contact-trust" />
             <label for="trust-maximum">Maximum</label>
        </div>
        <div class="columns small-3">
            <a class="button fa fa-flask postfix" ng-click="">Set trust</a>
        </div>
    </div>
    <h3>Set validation</h3>
    <em ng-show="settings.advanced">This should be per key but maybe is ok here if there is just one?...</em>
    <div class="row">
        <div class="columns small-9">
             <input type="radio" id="validation-no" name="contact-validation" checked />
             <label for="validation-no">No validation</label>
             <input type="radio" id="validation-casual" name="contact-validation" />
             <label for="validation-casual">Casual checking</label>
             <input type="radio" id="validation-carefully" name="contact-validation" />
             <label for="validation-carefully">Carefully checked</label>
             <input type="radio" id="validation-mathematic" name="contact-validation" />
             <label for="validation-mathematic">Mathematically checked</label>
        </div>
        <div class="columns small-3">
            <a class="button fa fa-flask postfix" ng-click="">Set validation</a>
        </div>
    </div>

</div>

<div class="row topmargin" ng-show="contactSection=='history'">
    <p>You have no history with this peer</p>
</div>

<div class="row topmargin" ng-show="contactSection=='overview' || !contactSection">
	<label>The main address for this contact is</label>	
      <div class="row collapse">
		<div class="medium-1 columns">
			<span class="prefix radius fa" title="Type of address" ng-class="{'fa-btc': vars.contact.mainKey.type=='address', 'fa-key': vars.contact.mainKey.type=='pubkey', 'fa-fighter-jet': vars.contact.mainKey.type=='stealth'}"> {{vars.contact.mainKey.type}}</span>
		</div>
        <div class="large-9 medium-7 columns">
          <input type="text" readonly value="{{vars.contact.mainKey.address}}" />
        </div>
        <div class="large-1 medium-2 small-6 columns">
          <a href="" tooltip-append-to-body="true" tooltip="Copy to clipboard" ng-click="clipboard.copy(vars.contact.mainKey.address)" class="button postfix fa fa-clipboard">Copy</a>
        </div>
        <div class="large-1 medium-2 small-6 columns">
          <a class="button postfix radius fa fa-qrcode" tooltip-append-to-body="true" tooltip="Show QR code" ng-click="modals.showBtcQr(vars.contact.mainKey.address)">QR</a>
        </div>
      </div>
      <div class="row collapse">
          <p ng-show="vars.contact.pubKeys.length>1">This contact has <a ng-click="contactSection='addresses'">{{vars.contact.pubKeys.length}} keys</a><span ng-show="settings.advanced" > and no <a ng-click="contactSection='trust'">trust defined</a></span>.</p>
          
      </div>
    
</div>
<!-- Addresses for the user -->
<div class="row topmargin" ng-show="contactSection=='addresses'">
	
	
	        <ul id="contact-address-actions" class="f-dropdown">
	          <li>
	            <a ng-click="modals.showBtcQr(currentPubKey.address||currentPubKey.data)" class="fa fa-qrcode"> Show QR code</a>
	          </li>
			  <li>
				  <a ng-click="clipboard.copy(currentPubKey.address||currentPubKey.data)" class="fa fa-clipboard"> Copy to clipboard</a>
			  </li>
			  <li>
				  <a ng-click="openEditForm(vars.contact, currentIndex)" class="fa fa-pencil-square"> Edit</a>
			  </li>
			  <li ng-show="currentIndex!=vars.contact.data.mainKey">
				  <a ng-click="deleteKey(vars.contact, currentIndex)" class="fa fa-trash-o"> Delete</a>
			  </li>
	        </ul>


    <div class="row collapse address-row" ng-repeat="pubKey in vars.contact.pubKeys">

			<div class="small-11 columns ellipsis" ng-show="!(editingContact===$index)">
					
				<a ng-click="setCurrentPubKey(pubKey, $index)" dropdown-toggle="#contact-address-actions" class="fa button square lefted fa-chevron-circle-down"></a>
	            <span class="address-type" title="Type of address">
	               <div class="fa" 
	                 ng-class="{'fa-question-circle': pubKey.type=='unknown', 'fa-btc': pubKey.type=='address', 'fa-key': pubKey.type=='pubkey', 'fa-fighter-jet': pubKey.type=='stealth', 'fa-user': pubKey.type=='id'}">
	               </div>
				   {{pubKey.type}} 
				 </span>
				 <identicon icon-size="32" data="pubKey.address"></identicon>
	            	<span title="{{pubKey.address||pubKey.data}}">{{pubKey.label||pubKey.address||pubKey.data}}</span>

			</div>
			<div class="small-1 columns" ng-if="pubKey.type!='revoked'&&pubKey===vars.contact.mainKey" ng-show="!(editingContact===$index)">
				<div class="fa-star fa button square active righted"></div>
			</div>
			<div class="small-1 columns" ng-if="['revoked','id'].indexOf(pubKey.type)==-1&&pubKey!==vars.contact.mainKey" ng-show="!(editingContact===$index)">
				<a ng-click="setMainKey(vars.contact, $index)" class="fa button square righted fa-star-o"></a>
			</div>
			<div ng-show="editingContact===$index" class="small-12 columns">
				<form ng-submit="editContact(vars.contact, $index)">
					<input type="text" class="prefix radius nomarginbottom" ng-model="contactToEdit.address">
					<button class="button square righted fa fa-check" type="submit"></button>
				</form>
			</div>
    </div>	
	<div class="topmargin">
  	  <!-- Create contact form -->
  		<a ng-click="creatingContact=true" class="fa fa-plus button small radius" ng-show="!creatingContact"> Add another address</a>
  	  	<form name="createContact" ng-show="creatingContact" ng-submit="creatingContact=false;addContactKey(vars.contact);" novalidate>
    		<div class="row collapse">
				<div class="small-4 columns">
               	 	<input type="text" class="prefix radius" placeholder="Enter a label..." ng-model="newContact.label"></input>
        		</div>
				<div class="small-6 columns">
               	 	<input type="text" class="prefix radius" placeholder="Enter a bitcoin address here..." required btc-address ng-model="newContact.address" autofocus></input>
        		</div>
				<div class="small-2 columns">
					<a class="button postfix radius fa fa-qrcode">Scan QR code</a>
				</div>
    		</div>
			<div class="row">
				<div class="small-12 columns text-right">
					<a class="button small radius nomarginbottom alert fa fa-times" ng-click="creatingContact=false"> Cancel</a>
					<button ng-disabled="createContact.$invalid" type="submit" class="button small radius nomarginbottom fa fa-check"> Confirm</button>
				</div>
			</div>
  	  </form>
	</div>
</div>
</div> <!-- panel -->
<!-- Bottom row -->
<div ng-show="!creatingContact" class="row collapse">
	<div class="small-4 columns">
	    <a href="#contacts" class="fa fa-arrow-left nomarginbottom button small radius"> Back</a>
    </div>
	<div class="small-8 columns text-right">
		<form name="contactEditForm" ng-show="contactSection=='overview'&&!(editingContact===false)" ng-submit="saveName(vars.contact, contactToEdit.name)">
          <input type="text" autofocus ng-model="contactToEdit.name"><button class="button square righted fa fa-check" type="submit"></button>
        </form>
		<div ng-show="contactSection=='overview'">
		<a ng-click="toggleWatch(vars.contact)" ng-class="{'fa-eye-slash':!vars.contact.watch, 'fa-eye': vars.contact.watch}" class="fa button disabled small nomarginbottom radius"> Watch</a>
		<a ng-click="openEditForm(vars.contact, 0)" class="fa button small nomarginbottom radius fa-terminal"> Rename</a>
    	<a ng-click="modals.open('confirm-delete', {name: vars.contact.name, object: vars.contact}, deleteContact)" class="small button nomarginbottom radius alert fa fa-trash-o"> Delete</a>
    </div>
</div>
</div>

