<div class="flip-container">
  <div class="flipper">
    <div class="front">
      <section class="blank blurb">
        <img src="./images/lorem1400x560.png" alt="Image" />
        <div>
          <h1>dark wallet</h1>
          <h2>the safest bitcoin wallet yet</h2>
          <hr>
          <p>Welcome to Dark Wallet! Thanks for trusting us with your bitcoins! bla bla bla</p>
          <p>Another line here, por si las moscas...</p>
          <a href="#" class="button button-cta">import a wallet</a> <a href="#" class="button button-cta">generate a wallet</a>
        </div>
      </section>
    </div>
    <div class="back">
      sdsdfsdfdfsdfds
    </div>
  </div>
</div>