<div class="row">
  <div class="small-12 columns">
    <h3>Dashboard</h3>
    <div class="row">
      <div class="large-4 columns">
        <div class="row collapse panel radius">
          <h5>Calculator</h5>
          <div class="small-1 columns">
            <span class="prefix radius fa fa-btc"></span>
          </div>
          <div class="small-4 columns">
            <input type="text" value="1" />
          </div>
          <div class="small-2 columns">
            <span class="prefix">=</span>
          </div>
          <div class="small-4 columns">
            <input type="text" value="800" />
          </div>
          <div class="small-1 columns">
            <span class="postfix radius fa fa-dollar"></span>
          </div>
          <a href="">Settings...</a>
        </div>
          
      </div>
      <div class="large-4 columns">
        <div class="row collapse panel radius">
          <h5>Quick send</h5>
          <div class="small-9 columns">
            <input type="text" placeholder="Bitcoin address..." />
          </div>
          <div class="small-3 columns">
            <a href="" class="button postfix radius">Send</a></span>
          </div>
          <a href="">Advanced...</a>
        </div>
      </div>
      <div class="large-4 columns">
        <div class="row collapse panel radius">
          <h5>Quick receive (unused address)</h5>
          <div class="small-9 columns">
            <input type="text" ng-model="address" ng-init="address = '1PrAR846AsCbsMfo5V1Vx28QBbKaZ98gi8'" />
          </div>
          <div class="small-3 columns">
            <a href="" ng-click="copyClipboard(address)" class="button postfix radius">Copy</a></span>
          </div>
          <a href="">Go to wallets...</a>
        </div>
      </div>
    </div>
  </div>
</div>    
