<div class="row">
  <div class="small-12 columns">
    <h3>Dashboard</h3>
    <div class="row">
      <div class="large-4 columns">
        <div ng-controller="CalculatorCtrl" class="row collapse panel radius">
          <h5>Calculator</h5>
          <div class="small-1 columns">
            <span class="prefix radius">{{selectedCurrency}}</span>
          </div>
          <div class="small-4 columns">
            <input ng-focus="calculator.amountFocused = true" ng-blur="calculator.amountFocused = false" ng-model="calculator.amount" type="text" />
          </div>
          <div class="small-2 columns">
            <span class="prefix">=</span>
          </div>
          <div class="small-4 columns">
            <input ng-focus="calculator.convertedFocused = true" ng-blur="calculator.convertedFocused = false" ng-model="calculator.converted" type="text" />
          </div>
          <div class="small-1 columns">
            <span id="currency-icon" class="postfix radius" title="{{selectedFiat}}">{{fiatSymbol}}</span>
          </div>
          <a href="#settings">Settings...</a>
        </div>
          
      </div>
      <div class="large-4 columns">
        <div class="row collapse panel radius">
          <h5>Quick send</h5>
          <div class="small-9 columns">
            <input type="text" placeholder="Bitcoin address..." />
            <a href="" tooltip="Scan QR code" ng-click="openModal('scan-qr', {field: field}, onQrModalOkSend, onQrModalCancel)" class="fa button square righted fa-qrcode"></a>
            <a href="" tooltip="Select from contacts" ng-click="openModal('pick-contact', {contacts: identity.contacts.contacts, field: field}, addAddress)" class="fa button square righted fa-users"></a>
          </div>
          <div class="small-3 columns">
            <a href="" class="button postfix radius">Send</a></span>
          </div>
          <a href="#send">Advanced...</a>
        </div>
      </div>
      <div class="large-4 columns">
        <div class="row collapse panel radius">
          <h5>Quick receive (unused address)</h5>
          <div class="small-9 columns">
            <input type="text" ng-model="dashboard.address" />
          </div>
          <div class="small-3 columns">
            <a href="" ng-click="copyClipboard(address)" class="button postfix radius">Copy</a></span>
          </div>
          <a href="#wallet">Go to wallets...</a>
        </div>
      </div>
    </div>
  </div>
</div>    
