<div ng-controller="BackupsCtrl">
  <div class="row topmargin">
    <div class="small-12 columns">
      <a href="#new_wallet" class="button small radius fa fa-plus"> New wallet (or restore from seed)</a>
      <a class="button radius small fa fa-download" ng-click="restoreBackup()"> Restore a backup</a>
      <a ng-click="backupIdentity()" class="button radius small fa fa-upload"> Backup all wallets</a>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <ul class="large-block-grid-5 medium-block-grid-4 small-block-grid-2">
        <li ng-repeat="identityName in availableIdentities">
          <div class="panel radius">
            <h4>{{identityName}} <small ng-show="identities.hasOwnProperty(identityName) && identities[identityName].wallet.network=='testnet'">testnet</small></h4>
            <h6 ng-show="identities.hasOwnProperty(identityName)">Balance: {{identities[identityName].wallet.balance.confirmed | currencyPresenter}}</h6>
            <button ng-click="selectIdentity(identityName)" ng-hide="identityName == currentIdentity" class="radius tiny expand">Use this identity</button>
            <div class="row collapse">
              <div class="small-4 columns">
                <button ng-click="backupIdentity(identityName)" class="tiny expand">Backup</button>
              </div>
              <div class="small-4 columns">
                <button class="tiny expand disabled">Rename</button>
              </div>
              <div class="small-4 columns">
                <button class="tiny expand disabled">Delete</button>
              </div>  
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
