<div ng-controller="BackupsCtrl">
  <div class="row topmargin">
    <div class="small-12 columns">
      <a href="#new_wallet" class="button small radius fa fa-plus"> New wallet (or restore from seed)</a>
      <a class="button radius small fa fa-download" ng-click="restoreBackup()"> Restore a backup</a>
      <a ng-click="backupIdentity()" class="button radius small fa fa-upload"> Backup all wallets</a>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <ul class="large-block-grid-5 medium-block-grid-4 small-block-grid-2">
        <li ng-repeat="identityName in availableIdentities track by $index">
          <div class="panel radius nomarginbottom">
            <h4>{{identityName}} <small ng-show="identities.hasOwnProperty(identityName) && identities[identityName].wallet.network!='bitcoin'">{{identities[identityName].wallet.network}}</small></h4>
            <h6 ng-if="identities.hasOwnProperty(identityName)">Balance: {{identities[identityName].wallet.balance.confirmed | currencyPresenter}}</h6>
            <button ng-click="selectIdentity(identityName)" ng-hide="identityName == currentIdentity" class="radius small expand fa fa-user"> Log in</button>
            <div class="row collapse">
              <div class="small-6 columns">
                <button ng-click="backupIdentity(identityName)" class="nomarginbottom small expand fa fa-upload"> Backup</button>
              </div>
              <div class="small-6 columns">
                <button class="small fa fa-trash-o expand alert nomarginbottom" ng-click="deleteIdentity(identityName)"> Delete</button>
              </div>  
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
