<div class="row">
  <div class="small-12 columns">
    <h3>My identities</h3>
    <h6>You can have different identities in your Dark Wallet. Identities aren't linked to each other, can use different passwords and be backed up separately.</h6>
    <a href="#new_wallet" class="button radius">Create a new identity</a>
    <button class="radius">Import a wallet</button>
    <button class="radius">Backup all wallets</button>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <ul class="large-block-grid-5 medium-block-grid-4 small-block-grid-2">
      <li ng-repeat="identityName in availableIdentities">
        <div class="panel radius">
          <h4>{{identityName}}</h4>
          <h6 ng-show="identities.hasOwnProperty(identityName)">Balance: {{identities[identityName].wallet.balance | currencyPresenter}}</h6>
          <button ng-click="selectIdentity(identityName)" ng-hide="identityName == currentIdentity" class="radius tiny expand">Use this identity</button>
          <button class="radius tiny expand">Backup</button>
        </div>
      </li>
    </ul>
  </div>
</div>
