<section>
  <div class="container">
    <table>
      <tr><td>
          <form>
            <label>
              <h2>Code</h2>
              <input ng-model="pairCode" type="password" class="password" value="" />
            </label>
            <button class="button button-and-icon" ng-click="announceSelf();">
              <div><i class="icon-large icon-qrcode"></i></div>Announce
            </button>
          </form>
        </td><td>
          <h2>Self</h2>
          <div class="wrapper"><identicon title="{{myself.pubKeyHex}}" hash="myself.pubKeyHex" icon-size="32"></identicon> {{myself.name}}</div>
          <h3>Channel</h3>
          <div class="wrapper"><identicon title="{{comms.pubKeyHex}}" hash="comms.pubKeyHex" icon-size="32"></identicon> {{comms.name}}</div>
          <h2>Peers</h2>
          <div ng-repeat="peer in peers">
            <identicon icon-size="24" hash="peer.pubKeyHex" title="{{peer.pubKeyHex}}"></identicon> {{peer.name}}
          </div>
        </td></tr>
    </table>
    <h2>Requests</h2>
    <div ng-repeat="request in requests">
      {{request.data}}
    </div>
  </div>
</section>
