  <form ng-submit="sendBitcoins()">
    <div class="row">
      <div class="small-12 columns">
        <h3>Send</h3>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <div class="row collapse">
              <div class="large-10 columns">
                <h6>Description</h6>
                <input type="text" class="prefix radius" placeholder="Enter a short description for this transaction here." autofocus />
              </div>
              <div class="large-2 columns">
                <h6>Sending from</h6>
                <a href="" dropdown-toggle="#wallets" class="fa button postfix radius fa-chevron-circle-down">{{sendPocketName}}</a>
              </div>
        </div>
      </div>
    </div>

    <div class="row" ng-repeat="field in recipients.fields">
      <div class="medium-8 large-9 columns">

            <input type="text" class="prefix radius" ng-model="field.address" ng-change="validateSendForm()" placeholder="Enter a bitcoin address here or use the buttons on the right." />
            <a href="" tooltip="Scan QR code" ng-click="openModal('scan-qr', {field: field}, onQrModalOkSend, onQrModalCancel)" class="fa button square righted fa-qrcode"></a>
            <a href="" tooltip="Select from contacts" ng-click="openModal('pick-contact', {contacts: identity.contacts.contacts, field: field}, addAddress)" class="fa button square righted fa-users"></a>

      </div>
      <div class="medium-4 large-3 columns">
        <div class="row collapse">
          <div class="small-8 columns">
            <input ng-hide="field.isFiatShown" type="text" class="prefix radius" ng-model="field.amount" ng-change="updateBtcFiat(field); validateSendForm();" placeholder="Enter amount" />
            <input ng-show="field.isFiatShown" type="text" class="prefix radius" ng-model="field.fiatAmount" ng-change="updateBtcFiat(field); validateSendForm();" placeholder="Enter amount" />
          </div>
          <div class="small-4 columns"><a class="button postfix radius" btn-checkbox tooltip="click to switch to {{selectedFiat}}" ng-model="field.isFiatShown">{{field.isFiatShown? selectedFiat : selectedCurrency}}</a></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="medium-10 columns">
        <a ng-show="advanced" class="button small radius" ng-click="enableAutoAddFields()">Add another recipient</a>
        <a ng-click="advanced=!advanced" class="button small radius">Advanced</a>
      </div>
      <div class="medium-2 columns aright">
        <button id="send-button" href="" ng-class="{'glow':sendEnabled}" ng-disabled="!sendEnabled" class="button radius expand"><span>Send</span><div id="send-progress" class="progbar"></div></button>
      </div>
    </div>
    <div class="row" ng-show="advanced">
        <div class="small-6 columns">
          <h6>Fee</h6>
          <input ng-model="send.fee" type="text" class="radius" />
        </div>
        <div class="small-6 columns">
          <h6>Coin mixing</h6>
          <a ng-click="toggleCoinJoin()" ng-class="{'fa-square-o':!send.mixing, 'fa-check-square-o': send.mixing}" class="fa button postfix">{{send.mixing?'Enabled':'Disabled'}}</a>
        </div>
        <div class="small-6 columns">
          <h6>Escrow address</h6>
          <input ng-model="send.escrow" type="text" class="radius"  btc-address />
        </div>
    </div>

        <ul id="wallets" class="f-dropdown">
          <li class="colorhead"><h6>My pockets</h6></li>
          <li ng-repeat="pocket in identity.wallet.pockets.hdPockets track by $index">
            <a ng-click="setPocket($index)">{{pocket.name}}</a>
          </li>
          <li><a ng-click="setPocket('any')">Any</a></li>
          <li class="colorhead"><h6>Multisig funds</h6></li>
          <li ng-repeat="fund in identity.wallet.multisig.funds track by $index">
            <a ng-click="setPocket('multisig:'+$index)">{{fund.name}}</a>
          </li>
        </ul>
  </form>
