  <form class="send" ng-submit="sendBitcoins()" novalidate>
    <div class="row">
      <div class="small-12 columns">
        <h3>{{'Send'|_}}</h3>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <div class="row collapse">
              <div class="large-10 medium-9 columns">
                <h6>{{'Description'|_}}</h6>
                <input type="text" class="prefix radius" ng-model="forms.send.title" ng-disabled="forms.send.sending" placeholder="{{'Enter a short description for this transaction here.'|_}}" auto-focus />
              </div>
              <div class="large-2 medium-3 columns">
                <h6>{{'Sending from'|_}}</h6>
                <a href="" dropdown-toggle="#wallets" class="fa button postfix radius fa-chevron-circle-down">{{forms.send.sendPocketName | pocket}}</a>
              </div>
        </div>
      </div>
    </div>

    <div class="row" ng-repeat="field in forms.send.recipients.fields">
      <div class="small-12 columns">
        <div class="row collapse">
          <div class="small-2 columns">
            <input ng-hide="field.isFiatShown" ng-disabled="forms.send.sending" type="text" currency-amount class="prefix radius ng-animate-disabled" ng-model="field.amount" ng-change="validateSendForm();" placeholder="{{'Enter amount'|_}}" />
            <input ng-show="field.isFiatShown" ng-disabled="forms.send.sending" type="text" currency-amount class="prefix radius ng-animate-disabled" ng-model="field.fiatAmount" ng-change="updateBtcFiat(field); validateSendForm();" placeholder="{{'Enter amount'|_}}" />
          </div>

          <div class="small-1 columns">
            <a class="button postfix" tooltip-append-to-body="true" tooltip="{{'click to switch to {0}'|_:(!field.isFiatShown? settings.fiatCurrency : settings.currency)}}" ng-click="updateBtcFiat(field); field.isFiatShown =! field.isFiatShown">{{field.isFiatShown? settings.fiatCurrency : settings.currency}}</a>
          </div>

          <div class="small-1 columns">
            <span class="postfix">to</span>
          </div>

          <div class="small-8 columns">

                <input ng-show="!field.contact" type="text" class="address-buttons" required btc-address ng-disabled="forms.send.sending" ng-model="field.address" ng-change="validateSendForm()" placeholder="{{'Enter a bitcoin address here or use the buttons on the right.'|_}}" />
                <span class="postfix" ng-show="field.contact" title="{{field.address}}">
                   <identicon icon-size="36" hash="field.contact.data.hash"></identicon>
                   {{field.contact.data.name}}
                </span>
                <span class="input-status fa fa-check"></span>

                <a href="" ng-show="!field.contact" tooltip-placement="left" tooltip-append-to-body="true" tooltip="{{'Scan QR code'|_}}" ng-click="modals.scanQr(field, validateSendForm)" class="fa button square righted fa-qrcode"></a>

                <a href="" ng-show="!field.contact" tooltip="{{'Select from contacts'|_}}" tooltip-placement="bottom" ng-click="modals.open('pick-contact', {type: 'address', field: field}, addAddress)" class="fa button square righted fa-users"></a>
				<a href="" ng-if="field.contact" tooltip="{{'Remove contact from this transaction'|_}}" tooltip-placement="left" ng-click="removeAddress(field)" class="fa button square righted fa-times"></a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="medium-10 columns">
        <a ng-click="forms.send.advanced=!forms.send.advanced" class="button small radius fa fa-eye"> {{!forms.send.advanced ? ('Show advanced options'|_) : ('Hide advanced options'|_)}}</a>
      </div>
      <div class="medium-2 columns aright">
        <button id="send-button" href="" ng-class="{'glow':sendEnabled}" ng-disabled="!sendEnabled" class="button radius expand"><span>{{'Send'|_}}</span><div id="send-progress" class="progbar"></div></button>
      </div>
    </div>

    <div class="row" ng-if="settings.advanced && !forms.send.sending && txStats">
      <div class="small-12 columns">
                <div ng-show="!txStats.notes" class="label address radius right" tooltip-append-to-body="true" tooltip="Priority: {{txStats.priority<0.01?txStats.priority.toFixed(3):txStats.priority.toFixed(2)}}">size: {{txStats.size}}kB <span ng-show="txStats.fee">fee: {{txStats.fee|formatBtc}}</span><span ng-show="!txStats.fee" >free</span></div></div>
                <div ng-show="txStats.notes" class="label alert radius right">{{txStats.notes}}</div>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns send-advanced" ng-if="forms.send.advanced">
        <div class="row panel">
            <div class="small-4 columns">
              <a class="button radius prefix fa fa-plus" ng-click="enableAutoAddFields()"> {{'Add another recipient'|_}}</a>
              <h6>{{'Fee'|_}}</h6>
              <input ng-model="forms.send.fee" type="text" currency-amount ng-change="validateSendForm()" class="radius" />
            </div>
            <div class="small-8 columns">
              <a ng-click="toggleCoinJoin()" ng-class="{'fa-square-o':!forms.send.mixing, 'fa-check-square-o': forms.send.mixing}" class="fa button postfix radius">{{forms.send.mixing?('CoinJoin mixing enabled'|_):('CoinJoin mixing disabled'|_)}}</a>

              <h6>{{'Escrow address (arbitration)'|_}}</h6>
              <input ng-model="forms.send.escrow" type="text" class="radius" disabled  btc-address />
            </div>
        </div>
      </div>
    </div>


        <ul id="wallets" class="f-dropdown">
          <li class="colorhead"><h6>{{'My pockets'|_}}</h6></li>
          <li ng-repeat="pocket in hdPockets track by $index" ng-show="pocket">
            <a ng-click="setPocket($index)">{{pocket.name | pocket}}</a>
          </li>
          <li><a ng-click="setPocket('any')">{{'Any'|_}}</a></li>
          <li class="colorhead"><h6>{{'Multisig funds'|_}}</h6></li>
          <li ng-repeat="fund in allFunds track by $index">
            <a ng-click="setPocket(fund.address)">{{fund.name}}</a>
          </li>
        </ul>
  </form>
