<div class="row">
  <div class="small-12 columns"><h3>Settings</h3></div>
</div>
<div class="row">
      <div class="large-4 columns">
        <div class="panel setback seed">
          <h5>Security</h5>
          <div>
            <label>Enter your current password</label>
            <input type="password" class="password" ng-model="seedPassword">
            <input type="text" ng-model="yourSeedHex" ng-show="yourSeed && !seedError">
            <input type="text" ng-model="yourSeedWords" ng-show="yourSeed && !seedError">
          </div>
          <div ng-show="seedError">
           Incorrect password
          </div>
          <button class="small" ng-click="showSeed();">Show seed</button>
        <form name="passwordForm" ng-submit="passwordChanged()" novalidate>
          <h5>Change your password</h5>
          <label>Enter your current password</label>
          <input type="password" class="password" required ng-model="oldPassword">
          <div ng-show="incorrectPassword">Incorrect password</div>
          <label>Enter your new password</label>
          <input type="password" class="password" required ng-model="newPassword">
          <label>Repeat new password</label>
          <input type="password" class="password" required ng-model="newPasswordRepeat">
          <div ng-show="newPassword !== newPasswordRepeat">Password doesn't match</div>
          <button type="submit" class="small radius expand">Change password</button>
        </form>
        </div>
      </div>
      <div class="large-5 columns">
        <div class="panel setback notifications">
          <h5>Interface</h5>
          <input id="checkbox-animations" ng-model="settings.animations.enabled" type="checkbox" ng-change="animationsChanged()"><label for="checkbox-animations">Enable animations</label><br>
          <h5>Notifications</h5>
          <input id="checkbox-outtx" ng-model="settings.notifications.send" type="checkbox"><label for="checkbox-outtx">For outgoing transactions</label><br>
          <input id="checkbox-intx" ng-model="settings.notifications.receive" type="checkbox"><label for="checkbox-intx">For incoming transactions</label><br>
          <input id="checkbox-multisig" ng-model="settings.notifications.multisig" type="checkbox"><label for="checkbox-multisig">For multisig spend requests</label><br>
          <input id="checkbox-notify" ng-model="settings.notifications.popup" type="checkbox" ng-change="storeSettings()"><label for="checkbox-notify">Show chat notifications</label><br>
        </div>
        <div ng-controller="ServersCtrl" class="panel setback net">
          <h5>Servers</h5>
          <div ng-show="addServerError" class="row collapse">
            <div class="small-8 columns">
                {{addServerError}}
            </div>
          </div>
          <div class="row collapse">
            <div class="small-8 columns">
              <input ng-hide="newServer.next" ng-model="newServer.address" type="text" ng-pattern="validIPPort" placeholder="Enter IP address (e.g: 80.34.132.23:2534)" />
              <input ng-show="newServer.next" ng-model="newServer.name" type="text" placeholder="Enter name" autofocus />
            </div>
            <div class="small-4 columns">
              <a ng-hide="newServer.next" ng-disabled="!newServer.address" ng-click="newServer.address && (newServer.next = true)" class="fa button postfix radius fa-plus">Next</a>
              <a ng-show="newServer.next" ng-click="addServer()" class="fa button postfix radius fa-plus">Add</a>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <select class="select-list" size="50" ng-model="selectedServerIdx">
                   <option ng-repeat="server in servers track by $index" value="{{$index}}" ng-click="selectedServerIdx=$index" ng-selected="selectedServerIdx==$index">{{server.name}}</option>
              </select>
              <a ng-click="connectServer()" class="button small radius expand">Connect to selected server</a>
              <h6>{{connectionStatus}} to {{selectedServer.name}} @ {{selectedServer.address}}</h6>
              <div ng-show="connectionStatus == 'Connected'">
                <div>gateway: {{servicesStatus.gateway}}</div>
                <div>obelisk: {{servicesStatus.obelisk}}</div>
                <textarea readonly>Welcome to the Unsystem server!!</textarea>
                <a class="button tiny radius expand">Donate to this server</a>
              </div>
            </div>
          </div>
        </div>
        <div class="panel setback notifications">
          <h5>Identity</h5>
          <a class="button fa fa-flask postfix" ng-click="identitySettings=!identitySettings">Settings</a>
          <div class="row" ng-show="identitySettings">
              <form name="identityNameForm" ng-submit="setIdentityName(identityNameForm.name)">
                  <div class="columns small-6">
                      <input type="text" placeholder="New name..." ng-model="identityNameForm.name" value="{{currentIdentity}}"></input>
                  </div>
                  <div class="columns small-6">
                      <button type="submit">Change name</button>
                  </div>
              </form>
          </div>
        </div>

      </div>
      <div class="large-3 columns">
        <div class="panel setback coins">
          <h5>Base unit</h5>
            <input type="radio" name="baseunit" value="BTC" id="btc-radio" ng-change="currencyChanged()" ng-model="selectedCurrency"><label for="btc-radio">BTC</label>
            <input type="radio" name="baseunit" value="mBTC" id="mbtc-radio" ng-change="currencyChanged()" ng-model="selectedCurrency"><label for="mbtc-radio">mBTC</label>
            <input type="radio" name="baseunit" value="bits" id="bits-radio" ng-change="currencyChanged()" ng-model="selectedCurrency"><label for="bits-radio">bits</label>
          <h5>Default fee</h5>
          <input ng-model="defaultFee" ng-change="defaultFeeChanged()" type="text" />
        </div>
        <div class="panel setback fiat-background">
          <h5>Local currency</h5>
          <select ng-model="selectedFiat" ng-options="key as value.name for (key , value) in fiatCurrencies" ng-change="fiatCurrencyChanged()">
          </select>
        </div>
        <a class="button fa fa-flask postfix" href="#tools">Tools</a>
      </div>
</div>
