    <form>
      <label>
        Password
        <input ng-model="stealth.password" type="password" class="password" value="">
      </label>
    </form>
    

  </div>
<div class="row">
      <div class="large-4 columns panel">
          <h5>Local currency</h5>
          <select>
            <option value="eur">Euros</option>
            <option value="usd">US Dollars</option>
            <option value="gbp">UK Pounds</option>
            <option value="jpy">Japanese Yen</option>
          </select>
      </div>
      <div class="large-4 columns panel">
          <button ng-click="receiveStealth()">Receive stealth</button>
      </div>
      <div class="large-4 columns panel">
        <a href="#" class="button button-and-icon" ng-click="clearStorage();">
          <div><i class="icon-large icon-qrcode"></i></div>Clear storage (DANGEROUS!!)
        </a>
      </div>
    </div>