<div class="row">
  <div class="small-12 columns"><h3>Tools</h3></div>
</div>
<div class="row">
      <div class="large-4 columns">
        <div class="panel setback seed">
          <em>Experimental tools...</em>
          <div ng-controller="SigningCtrl">
              <div ng-include="'tools/signing.html'"></div>
              <div ng-include="'tools/verifying.html'"></div>
          </div>
        </div>
      </div>
      <div class="large-5 columns">
        <div class="panel setback notifications">
           <code>{{tools.status}}</code>
           <div ng-show="tools.output">
             <div class="row">
               <div class="large-6 columns">
                 <button ng-click="copyClipboard(tools.output)" class="button postfix fa fa-clipboard">Copy</button>
               </div>
               <div class="large-6 columns">
                 <button ng-click="tools.output=false" class="button postfix fa fa-check">Ok</button>
               </div>
             </div>
             <code><pre>{{tools.output}}</pre></code>
           </div>
           <div ng-show="!tools.output"><code>Store size: {{storeSize}} kB total: {{totalStoreSize}} kB</code></div>
        </div>
        <div ng-controller="NotificationsCtrl" class="panel setback net popupcontainer">
          <h5>Notifications</h5>
              <div class="panel" ng-repeat="task in tasks" ng-include="'notifications/'+task.section+'.html'">
              </div>
        </div>
      </div>
      <div class="large-3 columns">
        <div class="panel setback coins">
          <h4>Development</h4>
          <h5>Stealth</h5>
        <div ng-controller="ReceiveStealthCtrl">
          <a class="button fa fa-fighter-jet postfix" ng-click="receiveStealth();">Receive Stealth</a>
        </div>
          <h5>Storage</h5>
          <a class="button fa fa-eraser postfix" ng-click="clearTasks();">Clear Tasks</a>
          <a class="button fa fa-trash-o postfix alert" ng-click="clearStorage();">Clear Storage</a>

      </div>
</div>
