<div class="row">
  <div class="large-2 columns panel">
      <ng-include src="'wallet/pockets.html'">
      </ng-include>
  </div>
  <div ng-show="selectedPocket==='newMultisig'" ng-controller="NewFundCtrl" class="large-10 columns">
      <ng-include src="'wallet/new_fund.html'">
      </ng-include>
  </div>
  <div ng-hide="selectedPocket==='newMultisig'" class="large-10 columns">
    <h4>{{pocket.name}} <small>{{((balance===undefined)?totalBalance:balance) | currencyPresenter}}</small> <small ng-show="unconfirmed">{{((unconfirmed===undefined)?totalUnconfirmed:unconfirmed) | currencyPresenter}}</small></h4>
    <tabset>
      <tab ng-show="tab.visible" heading="{{tab.heading}}" active="tab.active" select="tabs.current=$index" ng-repeat="tab in tabs.pages">
      </tab>
    </tabset>
    <ng-include src="'wallet/' + tabs.pages[tabs.current].page + '.html'">
    </ng-include>
  </div>
</div>
