<div class="row">
  <div class="large-2 columns panel">
      <ng-include src="'wallet/pockets.html'">
      </ng-include>
  </div>
  <div ng-show="selectedPocket==='newMultisig'" ng-controller="NewFundCtrl" class="large-10 columns">
      <ng-include src="'wallet/new_fund.html'">
      </ng-include>
  </div>
  <div ng-hide="selectedPocket==='newMultisig'" class="large-10 columns">
    <h4>{{pocket.name}} <small>{{((balance===undefined)?totalBalance:balance) | balanceStart | currencyPresenter}}</small> <small ng-show="unconfirmed">{{((unconfirmed===undefined)?totalUnconfirmed:unconfirmed) | currencyPresenter}}</small></h4>
    <tabset>
      <ng-include src="'wallet/dashboard.html'">
      </ng-include>
      <ng-include src="'wallet/history.html'">
      </ng-include>
      <ng-include src="'wallet/addresses.html'">
      </ng-include>
      <ng-include src="'wallet/fund.html'">
      </ng-include>
      <ng-include src="'wallet/tasks.html'">
      </ng-include>
      <ng-include src="'wallet/actions.html'">
      </ng-include>
    </tabset>
  </div>
</div>
