<div ng-cloak ng-show="!isActive('/new_wallet')" class="alert-box warning" ng-controller="ReseedCtrl">
    <div class="row">{{'You need to reseed your wallet to finish the upgrade'|_}}</div>
    <div ng-show="status.syncing||status.gateway!=='ok'" class="row">{{'(Wait for wallet to sync to reseed)'|_}}</div>
    <div ng-show="!status.syncing&&status.gateway==='ok'" class="row"><b>{{'Please'|_}} <a ng-click="reseedIdentity()">{{'click here to reseed'|_}}</a>.</b></div>
    <div class="row topmargin"><em>{{'We recommend making a backup and making sure you have access to your funds before reseed.'|_}}</em></div>
    <div class="row">{{'Check'|_}} <a href="https://wiki.unsystem.net/en/index.php/DarkWallet/Bip47Reseed">{{'More information'|_}}</a>.</div>
    <a ng-click="alert=false" class="close">&times;</a>
</div>
