<div class="row">
  <div class="large-2 columns panel">
    <ul class="side-nav">
      <li>{{totalBalance/100000000}}</li>
      <li>Pockets on my wallet</li>
      <li ng-class="{true:'active', false:''}[selectedPocket===undefined]" class="active" ng-click="selectPocket()"><a>All</a></li>
      <li ng-class="{true:'active', false:''}[$index==selectedPocket]" ng-repeat="pocketName in identity.wallet.pockets" ng-click="selectPocket(pocketName, $index)" ><a>{{pocketName}}</a></li>
      <li><a class="button small expand">New Pocket</a></li>
      <li class="divider"></li>
      <li>My multisig funds</li>
      <li><a href="#">Unsystem</a></li>
      <li><a href="#">Multisig 3</a></li>
      <li><a class="button small expand">New Multisig fund</a></li>
    </ul>
  </div>
  <div class="large-10 columns">
    <h3>{{pocket.name}} <small>{{((balance===undefined)?totalBalance:balance)/100000000}} BTC</small></h3>
    <b ng-show="pocket.stealth">Stealth: {{pocket.stealth}}</b>

  <tabset>
    <tab heading="History">
      <table class="expand history">
        <thead>
          <tr>
            <th>Name</th>
            <th>Amount</th>
            <th class="text-right">Balance</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in history">
            <td><a class="button square fa fa-info"></a>{{row.address}}</td>
            <td>{{(row.myOutValue-row.myInValue)/100000000}}</td>
            <td class="text-right">{{row.balance/100000000}}</td>
          </tr>
        </tbody>
      </table>
    </tab>
    <tab heading="Addresses">Addresses
  <table class="full">
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>QR Code</th>
      <th>Payment Request</th>
    </tr>
    <tr ng-repeat="address in addresses" ng-show="address.nOutputs == 0">
      <td>{{address.label}}</td>
      <td>{{address.address}}</td>
      <td><i class="icon-large icon-qrcode"></i></td>
      <td><i class="icon-large icon-money"></i></td>
    </tr>
  </table>
    </tab>
    <tab heading="Actions">
      <a class="button">Automatically mix funds on this pocket</a>
      <a class="button">Move funds to another pocket</a>
      <a class="button alert">Delete Pocket</a>
    </tab>
  </tabset>


  </div>
</div>
