<div class="row">
  <div class="large-2 columns">
    <ul class="side-nav">
      <li>Pockets on my wallet</li>
      <li class="active"><a href="#">Main</a></li>
      <li><a href="#">Donations</a></li>
      <li><a href="#">Savings</a></li>
      <li><a class="button small">New Pocket</a></li>
      <li class="divider"></li>
      <li>My multisig funds</li>
      <li><a href="#">Unsystem</a></li>
      <li><a href="#">Multisig 3</a></li>
      <li><a class="button small">New Multisig fund</a></li>
    </ul>
  </div>
  <div class="large-10 columns">
    <div class="row">
      <div class="large-2 columns">
        <h3>Main</h3>
      </div>
      <div class="large-10 columns text-right">
        <a class="button tiny">Mix funds automatically</a>
        <a class="button tiny">Move funds to another pocket</a>
        <a class="button tiny">Delete pocket</a>
      </div>
    </div>
    <span class="label">Master</span>xpub6BSAFBWXRxbimPu4zGfchGvBcGoYfBi583bcUFiWwQXsbjCfD3xE4xsyB5y7
    <span class="label">Stealth</span>xpub6BSAFBWXRxbimPu4zGfchGvBcGoYfBi583bcUFiWwQXsbjCfD3xE4xsyB5y7
    <table class="expand history">
      <thead>
        <tr>
          <th>Name</th>
          <th>Amount</th>
          <th class="text-right">Balance</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a class="button square fa fa-info"></a>Content Goes Here</td>
          <td>32452345</td>
          <td class="text-right">756473452</td>
        </tr>
        <tr>
          <td><a class="button square fa fa-info"></a>1PrAR846AsCbsMfo5V1Vx28QBbKaZ98gi8</td>
          <td>342345256</td>
          <td class="text-right">12346433</td>
        </tr>
        <tr>
          <td><a class="button square fa fa-info"></a>1PrAR846AsCbsMfo5V1Vx28QBbKaZ98gi8</td>
          <td>342345256</td>
          <td class="text-right">12346433</td>
        </tr>
        <tr>
          <td><a class="button square fa fa-info"></a>1PrAR846AsCbsMfo5V1Vx28QBbKaZ98gi8</td>
          <td>342345256</td>
          <td class="text-right">12346433</td>
        </tr>
        <tr>
          <td><a class="button square fa fa-info"></a>1PrAR846AsCbsMfo5V1Vx28QBbKaZ98gi8</td>
          <td>342345256</td>
          <td class="text-right">12346433</td>
        </tr>
        <tr>
          <td><a class="button square fa fa-info"></a>1PrAR846AsCbsMfo5V1Vx28QBbKaZ98gi8</td>
          <td>342345256</td>
          <td class="text-right">12346433</td>
        </tr>
        <tr>
          <td><a class="button square fa fa-info"></a>1PrAR846AsCbsMfo5V1Vx28QBbKaZ98gi8</td>
          <td>342345256</td>
          <td class="text-right">12346433</td>
        </tr>
        <tr>
          <td><a class="button square fa fa-info"></a>1PrAR846AsCbsMfo5V1Vx28QBbKaZ98gi8</td>
          <td>342345256</td>
          <td class="text-right">12346433</td>
        </tr>
          
      </tbody>
    </table>
  </div>
</div>