<div class="container">
  <h1>Balance: {{totalBalance/100000000}} btc</h1>
  <h2>Unused addresses</h2>
  <table class="full">
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>QR Code</th>
      <th>Payment Request</th>
    </tr>
    <tr ng-repeat="address in addresses" ng-show="address.nOutputs == 0">
      <td>{{address.label}}</td>
      <td>{{address.address}}</td>
      <td><i class="icon-large icon-qrcode"></i></td>
      <td><i class="icon-large icon-money"></i></td>
    </tr>
  </table>
  <button class="button button-and-icon sep" ng-click="generateAddress()">
    <div><i class="icon-large icon-btc"></i></div>Generate new address
  </button>
</div>