    <div class="row">
      <div class="small-12 columns">
        <h3>Send</h3>
      </div>
    </div>
    <div class="row">
      <div class="large-10 columns">
        <div class="row collapse">
          <div class="large-8 columns">
            <h6>Description</h6>
            <input type="text" placeholder="Enter a short description for this transaction." />
          </div>
          <div class="large-2 columns">
            <h6>Coin mixing</h6>
            <a href="#" class="fa button postfix fa-check-square-o">Enabled</a>
          </div>
          <div class="large-2 columns">
            <h6>Sending from</h6>
            <a href="#" data-dropdown="wallets" class="fa button postfix fa-chevron-circle-down">Main wallet</a>
          </div>
        </div>
      </div>
      
      <div class="large-2 medium-6 columns">
        <h6>Fee</h6>
        <input type="text" value="0.000001" />
      </div>
    </div>
    
    <div class="row">
      <div class="large-10 columns">
        <div class="row collapse">
          <div class="large-8 columns">
            <h6>Description</h6>
            <input type="text" placeholder="Enter a short description for this transaction." />
          </div>
          <div class="large-2 columns">
            <h6>Coin mixing</h6>
            <a href="#" class="fa button postfix fa-check-square-o">Enabled</a>
          </div>
          <div class="large-2 columns">
            <h6>Sending from</h6>
            <a href="#" data-dropdown="wallets" class="fa button postfix fa-chevron-circle-down">Main wallet</a>
          </div>
        </div>
      </div>
      
      <div class="large-2 medium-6 columns">
        <h6>Fee</h6>
        <input type="text" value="0.000001" />
      </div>
    </div>

    <div class="row">
      <div class="medium-10 columns">
        <h6>Bitcoin address:</h6>
        <div class="row collapse">
          <div class="large-8 columns">
            <input type="text" value="1PrAR846AsCbsMfo5V1Vx28QBbKaZ98gi8" />
          </div>
          <div class="large-2 small-6 columns">
            <a href="#" class="fa button postfix fa-qrcode">Scan code</a>
          </div>
          <div class="large-2 small-6 columns">
            <a href="#" class="fa button postfix fa-users">Contacts</a>
          </div>
        </div>
      </div>
      <div class="medium-2 columns">
        <h6>Amount</h6>
        <input type="text" value="0.000001" />
      </div>
    </div>
    <div class="row">
      <div class="medium-10 columns">
        <a href="#">Send to more than one recipient...</a>
      </div>
      <div class="medium-2 columns aright"><a class="button glow radius expand">Send</a></div>
    </div>