<!doctype html>
<html class="popup" ng-csp>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dark Wallet</title>
    <link rel="stylesheet" href="../vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../vendors/angular/angular-csp.css">
    <link rel="stylesheet" href="../css/app.css">
  </head>
  <body class="popupbody" ng-controller="PopupCtrl">
    <div class="popupcontainer" ng-controller="NotificationsCtrl">
      <div class="row">
        <div class="small-12 columns" ng-show="identities.length" ng-cloak>
          <a ng-click="forms.identityDropdown=!forms.identityDropdown" class="fa nomarginbottom button postfix fa-chevron-circle-down">{{currentIdentity}}</a>
		  <div ng-show="forms.identityDropdown">
			  <div ng-click="loadIdentity(anIdentity.id)" ng-repeat="anIdentity in identities" class="address-row identitylist">
				  {{anIdentity.id}}
			  </div>
	  	  </div>
          <a ng-show="!forms.identityDropdown" href="index.html#wallet" target="_blank" class="button topmargin small radius expand">
            Open wallet
          </a>
        </div>
        <div ng-show="!identities.length" ng-cloak class="small-12 columns">
			<h6>Welcome to Dark Wallet! Let's get started:
          <a href="index.html#new_wallet" target="_blank" class="button small radius expand">
            Create wallet
          </a>
        </div>
      </div>

      <div class="row panel radius notifications" ng-repeat="task in tasks" ng-include="'notifications/'+task.section+'.html'">
         <!--
           Content in  templates inside html/notifications/
         -->
      </div>

      <dl ng-show="settings.advanced" ng-cloak ng-show="connected && identities.length" class="row tabs collapse">
       <dd class="" title="Calculator" ng-class="{active:tab==1}" ng-click="tab=1">
         <a><span class="fa fa-exchange"></span></a>
       </dd>
       <dd class="" title="Send" ng-class="{active:tab==2}" ng-click="tab=2">
         <a><span class="fa fa-rocket"></span></a>
       </dd>
      </dl>
      <div class="popuptabs">
        <div ng-if="connected && tab==1" ng-include src="connected && tab==1 ? 'tools/calculator.html' : false">
        </div>

        <!--
        <div ng-if="connected && tab==2" class="row" ng-include src="connected && tab==2 ? 'tools/quicksendpopup.html' : false">
        </div>
        -->
      </div>
    </div>
    <script src="../vendors/requirejs/require.js"></script>
    <script src="../js/backend/loader.js"></script>
    <script src="../js/frontend/popup/loader.js"></script>
  </body>
</html>
