<!doctype html>
<html ng-csp>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dark Wallet</title>
    <link rel="stylesheet" href="../vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../vendors/angular/angular-csp.css">
    <link rel="stylesheet" href="../css/app.css">
  </head>
  <body class="popupbody" ng-controller="PopupCtrl">
 <div class="popupcontainer" ng-controller="NotificationsCtrl">
      <div ng-show="identities.length" ng-cloak class="row">
        <div class="small-6 columns text-center">
          <a href="" id="pop-identities"><h3><i class="fa fa-user"></i> {{currentIdentity}}</h3></a>
        </div>
        <div class="small-6 columns">
          <a href="index.html#identities" target="_blank" class="button tiny expand radius">
            Change identity
          </a>
        </div>
      </div>
      <div ng-show="identities.length" ng-cloak class="row">
        <div class="small-12 columns">
          <a href="index.html#wallet" target="_blank" class="button small radius expand">
            Open wallet
          </a>
        </div>
      </div>
      <div ng-show="!identities.length" ng-cloak class="row">
        <div class="small-12 columns">
          <a href="index.html#new_wallet" target="_blank" class="button expand">
            Create wallet
          </a>
        </div>
      </div>

  <dl ng-cloak ng-show="identities.length" class="row tabs collapse">
       <dd class="small-4 columns text-center" title="Notifications" ng-class="{active:tab==0}" ng-click="tab=0">
           <a><span class="fa fa-bell"></span></a>
       </dd>
     <dd class="small-4 columns text-center" title="Calculator" ng-class="{active:tab==1}" ng-click="tab=1">
       <a><span class="fa fa-superscript"></span></a>
     </dd>
     <dd class="small-4 columns text-center" title="Send" ng-class="{active:tab==2}" ng-click="tab=2">
       <a><span class="fa fa-rocket"></span></a>
     </dd>
   </dl>

   <div ng-show="tab==0">


      <div class="panel notifications" ng-repeat="task in tasks" ng-include="'notifications/'+task.section+'.html'">
         <!--
           Content in  templates inside html/notifications/
         -->
      </div>
      <div ng-show="tasks.length==0">Nothing new</div>
    </div>
 

    <div ng-include src="connected && tab==1 ? 'tools/calculator.html' : false">
    </div>
    <div ng-include src="connected && tab==2 ? 'tools/quicksend.html' : false">
    </div>

    </div>
    <script src="../vendors/requirejs/require.js" data-main="../js/frontend/popup/loader.js"></script>
  </body>
</html>
