<h3 ng-show="!tools.open || tools.exportOpen">Key management</h3>
<a class="button fa fa-upload postfix" ng-click="tools.open=true;tools.exportOpen=true" ng-show="!tools.open" novalidate>Export private keys</a>
<form name="exportingForm" ng-show="tools.exportOpen" ng-submit="exportKeys()">
    <label ng-show="!tools.exportAddress">All private keys will be exported (this might take a while).</label>
    <p ng-show="!tools.exportAddress">Write an address to export just one.</p>
    <div class="row collapse">
      <div class="medium-12 columns">
         <label>Address:</label>
         <input type="text" ng-model="tools.exportAddress" placeholder="Address to export..."></input>
      </div>
    </div>
    <div class="row collapse">
      <div class="medium-6 columns">
        <button type="submit" class="button fa fa-pencil postfix">Export</button>
      </div>
      <div class="medium-6 columns">
        <a class="button alert fa fa-times postfix" ng-click="tools.exportOpen=false;tools.open=false;">Cancel</a>
      </div>
    </div>
</form>
