<div ng-controller="ScanningCtrl">
  <h3>{{'Seed Scanning'|_}}</h3>
  <div ng-show="!scanning">
    <a class="button fa fa-pencil postfix" ng-show="!tools.scanOpen" ng-click="tools.open=true;tools.scanOpen=true" novalidate>{{'Scan'|_}}</a>
    <p>{{scanStatus}}<p>
    <form name="scanningForm" ng-show="tools.scanOpen" ng-submit="scanSeed()">
        <label>{{'Address margin'|_}}</label>
        <input ng-model="scanParams.addresses" type="number"></input>
        <label>{{'Pocket margin'|_}}</label>
        <input ng-model="scanParams.pockets" type="number"></input>
        <input id="checkbox-animations" ng-show="scanParams.version>4" ng-model="scanParams.scanOld" type="checkbox"><label for="checkbox-animations">{{'Scan old style addresses (only)'|_}}</label><br>
        <input id="checkbox-animations" ng-show="scanParams.version<5" ng-model="scanParams.scanMaster" type="checkbox"><label ng-show="scanParams.version<5" for="checkbox-animations">{{'Scan pocket master'|_}}</label><br>
        <div class="row collapse">
          <div class="medium-6 columns">
            <button type="submit" class="button fa fa-pencil postfix">{{'Scan!'|_}}</button>
          </div>
          <div class="medium-6 columns">
            <a class="button alert fa fa-times postfix" ng-click="tools.scanOpen=false;tools.open=false;">{{'Cancel'|_}}</a>
          </div>
        </div>
    </form>
  </div>
  <div ng-show="scanning">
      <h4>{{'Scanning'|_}}</h4>
      <p ng-show="scanner">{{scanner.status}}<p>
      <div ng-show="!scanner">
          <p>{{scanStatus}}<p>
          <progressbar value="scanProgress">{{scanned.scanned}}/{{scanned.max}}</progressbar>
      </div>
  </div>
</div>
